[2015-02-03 13:22] raarts opened #1 "SSE2 instruction set not enabled"
Hi,

This would not compile for me, I get the following:
[code]
Now I can disable SSE2 in the zerotier-one Makefile, by just removing it, but I am wondering why it compiled for you.

[2015-02-03 14:48] mwarning commented on #1
That is odd. I compiles for me.
I use Debian 8.0 right now and OpenWrt 14.07 (Barrier Breaker).
Did you disable it by adding  -mno-sse?

[2015-02-03 20:03] raarts commented on #1
Hi,

I re-did everything, but same problem. Note I chose the x86 Target, because
I run it on virtualbox.

Ron

On Tue, Feb 3, 2015 at 9:48 AM, Moritz Warning <notifications@github.com>
wrote:

[2015-02-03 20:35] raarts commented on #1
BTW, I am an openwrt noob, so I wouldn't know where to specify -mno-sse

[2015-02-03 23:38] mwarning commented on #1
I think the x86 target is the "culprit". Zerotier probably enables sse2 for x86. I will do some testing. Thanks for the find!

[2015-02-04 19:29] raarts commented on #1
By the way, I had to install gettext as well, you might want to add that to the apt-get line in README.md

[2015-02-05 16:38] mwarning commented on #1
Both issues should be fixed now. Thanks a lot for reporting!

[2015-02-05 16:38] #1 closed

[2015-02-06 16:46] raarts opened #2 "Identity not preserved across reboots"
When joining a network, the zerotier daemon writes some info into /var/lib/zerotier/identity.*
This needs to be preserved across reboots, so now every time the device reboots it shows
up on the zerotier website as a new device.

[2015-02-06 16:48] raarts commented on #2
I am not an openwrt expert, but I think this info should be stored using UCI? I'm willing to create the patch, but I don't want to duplicate work, especially since you seem to be much more experienced with openwrt.

[2015-02-06 17:15] mwarning commented on #2
Please go ahead and write a patch. I haven't done any more work in this area. :)

[2015-02-18 09:33] 2senel opened #3 "Can`t compile for BRCM47xxx"
I followed all instructions and also searched through other forums and found no solution :-(

http://pastebin.com/XGk8HLwe

virtual@virtual-Parallels-Virtual-Platform:~/openwrt$ make
 make[1] world
 make[2] toolchain/install
 make[3] -C toolchain/gdb prepare
 make[3] -C toolchain/gdb compile
 make[3] -C toolchain/gdb install
 make[3] -C toolchain/binutils prepare
 make[3] -C toolchain/binutils com

[2015-02-18 21:50] mwarning commented on #3
I did a fresh checkout&build and it works for me.
These target option were selected:

Target System (Broadcom BCM47xx/53xx (MIPS))
Target Profile (Broadcom SoC, all Ethernet, BCM43xx WiFi (b43, default))

Is that what you tried?

[2015-02-18 22:10] mwarning commented on #3
I compared the compiler lines, there are identical with mine.

[2015-02-19 08:39] 2senel commented on #3
Yes, I also tried "wl proprietary" profile and result for me is same. I also installed fresh Ubuntu and Debian in Parallels (with all dependencies).

Error is still same. Not sure what I'm doing wrong though...

[2015-02-19 23:52] mwarning commented on #3
Ok, I was able to finally reproduce the problem. I used a Debian 7.8 netinstall. :-)

[2015-02-20 01:08] #3 closed

[2015-02-20 01:11] mwarning commented on #3
It is a good idea to use the correct path. :>

[2015-02-20 16:07] 2senel commented on #3
OK, I set up new clean Debian 7.8 netinst machine (in vmware), installed all dependencies, set correct PATH (based on openwrt wiki article), followed instructions and still I'm stuck on compiling zerotier package.

Can you please point me to right direction?

http://pastebin.com/KZSTqkrs

[2015-02-21 00:28] mwarning commented on #3
I think I fixed it, please try again.

[2015-02-22 12:43] 2senel commented on #3
Finally managed to compile package. The error was caused by missing libopenssl package. :-) Thanks!

[2015-02-22 15:08] mwarning commented on #3
I had messed up the include path a second time and had the impression that OpenWrt compiles in a chroot. It is all fine now. :-)

[2015-04-18 22:09] mwarning commented on #2
Fixed now. It will be in the next release package.

[2015-04-18 22:09] #2 closed

[2015-12-01 15:46] a2940uw opened #4 "Error message when compile in openwrt"
Hi Master, I have follow your instruction to compile the zerotier package for openwrt in ubuntu 15.05 but I face the error is follow, would you tell me how to solve this, thank you so much.

-----
 make[1] package/zerotier/compile
 make[2] -C package/libs/toolchain compile
make -r package/zerotier/compile: build failed. Please re-run make with -j1 V=s to see what's going on
make: *** [package/zero

[2015-12-01 16:10] mwarning commented on #4
Could you please try "make -j1 V=s" and post the error message?

[2015-12-01 16:14] a2940uw commented on #4
If try make -j1 V=s
-----
d/openwrt$ make package/zerotier/compile -j1 V=s
make[1]: Entering directory `/home/a2940uw/openwrt_build/openwrt'
make[2]: Entering directory `/home/a2940uw/openwrt_build/openwrt/package/libs/toolchain'
cp -fpR /home/a2940uw/openwrt_build/openwrt/staging_dir/toolchain-mips_34kc_gcc-4.8-linaro_uClibc-0.9.33.2/lib/libuClibc-*.so /home/a2940uw/openwrt_build/openwrt/staging_

[2015-12-01 20:15] mwarning commented on #4
@a2940uw: It seems not to be related to ZerotTier. Try `make download` first and see if you have got all packages.

[2015-12-01 20:16] mwarning opened #5 "Compile failure with ZT 1.1.0"
[code]

[2015-12-01 20:30] mwarning commented on #5
Ok, the problem seems to be that uClibc++ references sortstable_sort in its include/algorithm file.
Moving the two sort() functions behind stable_sort() fixes the problem.

[2015-12-23 18:26] nick-gold commented on #5
I have this same build error, but I do not understand your fix. Could you provide some additional direction?

[2015-12-24 09:21] a2940uw commented on #5
Finally I still get failure to compile module by myself, and I just download the pre-compiled binary ipk file from mwarning ( https://github.com/mwarning/zerotier-openwrt/releases ) but I found the the members ID will change for every time the openwrt device rebooted, I need to re-join and make a new permit and remove the old client every time after reboot.

[2015-12-24 11:02] mwarning commented on #5
I will have a look.

[2015-12-25 12:05] mwarning commented on #5
@nick-gold please try to build ZT again. It might work now.

[2015-12-25 12:18] mwarning commented on #5
@a2940uw could you make a new ticket please? I do not understand what you mean with making a new permit, members ID, removing the old client. Assume me being stupid. ;-)

[2015-12-26 13:32] nick-gold commented on #5
The issue seems to be resolved. I have successfully built. Thanks.

[2015-12-26 17:46] mwarning commented on #5
alright!

[2015-12-26 17:46] #5 closed

[2015-12-26 17:47] mwarning commented on #4
Fixed :-)

[2015-12-26 17:47] #4 closed

[2015-12-27 11:47] a2940uw opened #6 "Unable to auto start and Device ID will regenerate every time reboot"
I follow the installation guide and success to compile the latest binary version 1.1.2 for my TP-Link 1043ND - OpenWrt Chaos Calmer 15.05 / LuCI (git-15.248.30277-3836b45) , I have try to enable the service to run "/etc/init.d/zerotier enable" after install complete, but when every-time reboot the OpenWRT, I check with the service status still show offline "zerotier-cli info", when I manual to sta

[2015-12-29 13:17] mwarning commented on #6
Problem confirmed. Working on it.

[2015-12-29 17:24] mwarning commented on #6
Should be fixed in 3e972f60327fc34c5294ad666d85af4a23e6ac93, please test.

[2015-12-30 01:51] a2940uw commented on #6
Dear mwarning.
Download and tested the pre-build ipk, the service start error message is gone but all the issue is still appear.
Thank you

[2015-12-30 10:09] mwarning commented on #6
May I did no understand the problem then. ZT should start when the device boots if enabled (/etc/init.d/zerotier enable).

[2015-12-30 10:14] a2940uw commented on #6
Sorry for my bad English, I have found the zerotier daemon does not auto start when I was already enable the service and after reboot, and all the issue is no change.

[2016-01-10 16:04] mwarning commented on #6
Can you provide instructions for me on how to reproduces the problem? It works for me.

[2016-05-08 20:00] mcg opened #7 "Bridge Mode"
Have this installed and working(pingable) but I want my OpenWRT to function as a bridge to my local network. I'm unable to get a bridge working and wondering if anyone has this working or any pointers for this setup?

[2016-05-09 18:07] mwarning commented on #7
@mcg If I recall correctly, this was working for me. But I would have to rebuild by test setup to verify. Maybe on the next weeend.

[2016-05-13 01:41] Aboe646 commented on #6
Is this resolved? Because I have the same problem.
I can't get zerotier started thru the init-script. It won't even create the /var/lib/zerotier folder.

[2016-05-13 20:07] mwarning commented on #6
@Aboe646: It works for me. Otherwise just provide me with instructions on how to replicate the problem.

I set enable to 1 in /etc/conf/zerotier and do "/etc/init.d/zerotier start" - ZT starts. OpenWrt version is 15.05.1

[2016-05-13 21:16] Aboe646 commented on #6
I didn't know we needed to edit the "/etc/config/zerotier" file. Now It works like a charm. Thx for your effort :)

[2016-05-14 08:11] mwarning commented on #6
Ok, I've set enabled to 1 by default. Hope that helps.

[2016-05-14 08:11] #6 closed

[2016-07-08 21:55] mcg commented on #7
Ever get around to testing this?

[2016-07-08 22:17] mwarning commented on #7
hm, sadly no. I forgot about this ticket. :|

[2016-07-20 10:47] Aboe646 opened #8 "Segmentation fault"
Hey, after the update to the latest version (1.1.12) I get the following error:

[207868.474072] zerotier-one[32346]: segfault at 8 ip 0000000000406627 sp 00007ff0dddcdfb0 error 6 in zerotier-one[400000+84000

Sometimes right after I (re)start the service, sometimes after a day or so.
I reinstalled the packages already.

I use openWRT 15.05.1 x86_64

[2016-07-20 20:35] mwarning commented on #8
Looks like a bug in ZT. I will try to find it.

[2016-07-24 08:25] hajoscher commented on #8
I compiled for ar71xx and have the same issue, crash after random time. Not sure however if it is exactly the same.

[2016-07-24 08:54] Aboe646 commented on #8
I'm testing some things, and it seems (for now) that the connection is stable. I changed the ip in "my.zerotier.com" to the ip from the bridge in openwrt (the ip from the webinterface).

[2016-07-24 14:53] mwarning commented on #8
I found out that the crash occurs in SelfAwareness::getSymmetricNatPredictions().
So far I do not know why.

[2016-07-24 17:54] mwarning commented on #8
@adamierymenko any help is appreciated :-)

[2016-07-25 21:12] mwarning commented on #8
It looks like this line crashes:
std::vector<InetAddress> sym(RR->sa->getSymmetricNatPredictions());

[2016-07-29 20:37] mwarning commented on #8
Should be fixed in the new 1.1.14 release.

[2016-07-29 20:37] #8 closed

[2016-07-29 20:38] mwarning commented on #7
I am not quite motivated right now to test this. .:/

[2016-08-02 08:35] hajoscher opened #9 "segmentation fault"
Segfault on zerotier 1.1.14

CONFIG_TARGET_ar71xx=y
CONFIG_TARGET_ar71xx_generic_WZRHPAG300H=y

Here is some debugger info:

    [Tue Aug  2 07:50:03 2016] node/Switch.cpp:637 sending NAT-t message to     xxxxxxxx (xxx.xxx.xxx.xxx/45166)
    [New LWP 8178]

    Program received signal SIGSEGV, Segmentation fault.
    [Switching to LWP 8178]
    splice (i=..., x=..., position=..., this=0x76d7ffb0)

[2016-08-02 18:52] mwarning commented on #9
meh, I thought this commit would have fixed the crash:
https://github.com/zerotier/ZeroTierOne/commit/830250759cd4c14ca2ae5ddf24f0a0427f258622

No idea so far. I has been working for me..

[2016-08-03 13:06] hajoscher commented on #9
I tried to track it down, seems like a bug in uclibc++ for a special case in the  std::list::splice function:

https://bitbucket.org/nuttx/uclibc/src/de9babae33085a109bd9e6a6f063d67a1c598149/include/uClibc++/list?at=master&fileviewer=file-view-default#list-708

https://git.busybox.net/uClibc++/tree/include/list#n608

previous is not defined if the list has only one element.

As a workaround one co

[2016-08-05 07:34] muebau commented on #9
Hi,
I have problems with seg faults to:

[  375.300293]
[  375.300293] do_page_fault(): sending SIGSEGV to zerotier-one for invalid write access to 00000004
[  375.309381] epc = 0040b2b1 in zerotier-one[400000+9c000]
[  375.314965] ra  = 0040b273 in zerotier-one[400000+9c000]
[  375.320425]
[  531.892032]
[  531.892032] do_page_fault(): sending SIGSEGV to zerotier-one for invalid write access to 0

[2016-08-05 08:10] hajoscher commented on #9
I did not get feedback yet, there is only an email of the author, no issue tracker. But you can try my workaround here, which I am happy with:

#https://github.com/hajoscher/zerotier-openwrt/tree/splice-workaround/zerotier

@mwarning would you kindly review this patch and if you agree I could issue a pull request.

[2016-08-05 16:28] adamierymenko commented on #9
DeferredPackets is dying in the next version so don't bother. A quick fix would be to edit OneService.cpp and eliminate the two `Thread::start()` lines (one after the other) that start background threads. That way everything will just happen in the main thread.

[2016-08-05 16:29] adamierymenko commented on #9
The defer queue was kind of ugly so it died. 1.2.0 will do this differently.

[2016-08-05 16:53] adamierymenko commented on #9
But I'd do a bug report to uclibc++ for that std::list::splice() bug. That will show up elsewhere.

[2016-08-05 17:01] hajoscher commented on #9
Thank you. Any workaround is temporary anyway, so I am happy with the current patch.

Sure, I did send an email about the bug, since there is no bug tracker. No response however. I will submit one for openwrt directly.

[2016-08-06 16:39] mwarning commented on #9
@hajoscher nice find find!
@adamierymenko thanks for dropping by and suggesting a fix.

[2016-08-06 16:56] mwarning commented on #9
@adamierymenko can you explain how removing both lines will fix the problem? I do not see the connection between between thread and the slice bug.

[2016-08-09 21:13] mwarning commented on #9
I have upload new release binaries. Let me know if they work for you. Thanks. :-)

[2016-10-26 18:38] mwarning commented on #9
I assume the problem has been fixed and close this issue.

[2016-10-26 18:38] #9 closed

[2016-12-04 07:45] riptidewave93 opened #11 "Compile failure on PPC arch"
Hello,

First off, thanks for creating this package! I am working on getting this compiled for a LEDE device using the APM821xx target (PPC464 variant), and am hitting a small compile snag. The issue returned is:

[code]

I also tried setting `-fno-stack-protector` but had no success.

[2016-12-04 15:00] mwarning commented on #11
```-fno-stack-protector``` would have been my guess as well (from searching on the Internet).
ZT uses -fstack-protector in its own Makefile. I assume that it is not properly overwritten. and you need to patch it out of the Makefile or you can first try to edit the Makefile in the ZT build directory somewhere in openwrt/build_dir/ (oder lede/build_dir/)

[2016-12-04 16:14] riptidewave93 commented on #11
@mwarning gave it a try, but no success. The command that is failing seems to be the following:
[code]

I even tried with PKG_CC_STACKPROTECTOR_NONE=y being set in my LEDE config (which removes the occurrence of `-fstack-protector` in the above cmd), but that had no affect as well.

It also seems the only reverence to stack-protector are at https://github.com/zerotier/ZeroTierOne/blob/830250759cd4

[2016-12-04 20:11] mwarning commented on #11
That line contains both  -fstack-protector and -fno-stack-protector. Not sure what happens.

[2016-12-05 11:46] riptidewave93 commented on #11
Yeah, as mentioned I was able to remove that with `PKG_CC_STACKPROTECTOR_NONE=y` being set in my LEDE config, but even then the same issue occurs. :/

[2016-12-25 07:17] riptidewave93 commented on #11
The above PR was submitted to resolve the issue.

[2016-12-25 10:20] #11 closed

[2016-12-25 10:21] mwarning commented on #11
Great to see that you were able to fix it.

[2016-12-25 18:06] nybash opened #13 "Building for ar71xx"
I try building for TP-LINK WR841ND router.

`make[3]: Entering directory '/home/frost/tmp/openwrt/package/zerotier'
CFLAGS="-Os -pipe -mno-branch-likely -mips32r2 -mtune=34kc -fno-caller-saves -fhonour-copts -Wno-error=unused-but-set-variable -Wno-error=unused-result -msoft-float -mips16 -minterlink-mips16  -I/home/frost/tmp/openwrt/staging_dir/target-mips_34kc_uClibc-0.9.33.2/usr/include -I/home/

[2016-12-25 18:09] mwarning commented on #13
It looks like ZT is compiled with network controller support. Is that intentional?

[2016-12-25 18:32] nybash commented on #13
Yes, intentionally. I will try without it

[2016-12-25 18:38] mwarning commented on #13
Ah, ok. That wasn't tested for a while. Looks like the dependency for sqlite3 was not picked up.

[2017-01-03 00:34] mwarning commented on #13
Should be fixed now.

[2017-01-03 00:34] #13 closed

[2017-01-07 12:01] sequencer opened #14 "unable to leave 8056c2e21c000001[bug?]"
Find in `OpenWrt Chaos Calmer 15.05.1`
tried to `zerotier-cli leave 8056c2e21c000001`
tried to `rm -rf /tmp/lib/zerotier-one/networks.d/8056c2e21c000001.conf`
everytime i start it I should type `zerotier-cli leave 8056c2e21c000001`

[2017-01-07 12:13] sequencer commented on #14
Solved after delete `./etc/config/zerotier`
`zerotier-cli leave` can't leave a network maybe is the issue of openwrt itself.

[2017-01-07 13:32] mwarning commented on #14
That is odd. I will look into it.

[2017-01-07 18:47] mwarning commented on #14
@sequencer: I think the problem is that the network is configured in /etc/config/zerotier.
So you need to remove the network entry from /etc/config/zerotier.

Anyway, "zerotier-cli leave 8056c2e21c000001" should leave said network until ZT is restarted. If that is the case, then everything is ok.

[2017-01-07 18:49] mwarning commented on #14
Closing this issue, as the behavior seem to be intended.
"zerotier-cli leave .." cannot modify /etc/config/zerotier

Please re-open the issue if there you think there is a misunderstanding on my part or a bug. :-)

[2017-01-07 18:49] #14 closed

[2017-05-02 03:19] turing-king opened #15 "openwrt zerotier virison update"
The latest version is 1.2.4, please hurry up to update it

[2017-05-31 10:27] shankarkumar19 commented on #7
Hi all,
I am testing on Zerotier -Ethernetbridge on my openwrt Router but I am not able to succeed on my testing. Please update if anyone has tested Zerotier-Ethernetbridging on Openwrt router.

[2017-05-31 18:35] mwarning commented on #7
It was working when I tested it a few releases back.
But I did manage the bridge by hand using brctl and ip tools.
Not sure about the details.

[2017-06-01 06:18] shankarkumar19 commented on #7
Thanks for your reply...
My setup:
Openwrt router:
============
I have the zerotier client running on my router
tunnel interface:(zt1) created but no tunnel ip (since I enabled 'bridged' & 'do not auto assign ip' on the zerotier controller for this router).
I have LAN network created on the router with 192.168.193.1 /24 (eth1) and dhcp sever with ip pool  from 192.168.193.100 to 192.168.193.170)

[2017-07-05 10:15] zombiespawn opened #16 "Mikrotik"
Hi there,

Would this be able to be ported to a Mikrotik (RouterOS) package

Regards,

[2017-07-05 17:31] mwarning commented on #16
@zombiespawn yes, I think so. But I do not have any experience with RouterOS.

[2017-07-05 22:40] cabsandy commented on #16
How difficult/how much work would it be to have the pre-built images updated to the latest 1.2.4 version? I'd like to have a go if it is too much work, if someone points me in the right direction :-)

[2017-07-05 23:13] mwarning commented on #16
I do not know anything about RouterOS except that it is linux based..
So far lede-project.net (openwrt fork/heir) has packages for ZeroTier 1.2.4 and images for many mikrotik devices.

[2017-07-05 23:13] #16 closed

[2017-07-05 23:37] cabsandy commented on #16
Ahh sorry-should have put this in a seperate post-I meant for ALL types of HW-so not just Router OS.Sorry.

[2017-07-10 16:37] varvad commented on #7
every one is hier? I see 2 gw: router + zerotier serv. I think it's wrong.

[2017-07-18 09:53] tamilhce opened #17 "The CPU utilization reaches more than 75% when I forward traffic using zt interface"
I have installed zerotier in my openwrt Access Point.
And created tunnel interface zt between two devices   and run the iperf test.
I could see the zerotier  takes more than 75% cpu. I believe its not recommended.
Any suggestion to reduce the cpu utilization  is much appreciated.

  PID  PPID USER     STAT   VSZ %VSZ %CPU COMMAND
 1062     1 root     R    16456  13%  77% /usr/bin/zerotier-one
 117

[2017-07-19 12:00] tamilhce commented on #17
yes my cpu is not powerful. Can I have steps to  compile zt for speed instead of size.
Thanks in Advance

[2017-07-19 17:16] mwarning commented on #17
I do not know.
I asked the question here: https://forum.lede-project.org/t/disable-size-optimization-0s-for-package/5150/1

[2017-07-19 17:16] #17 closed

[2017-07-28 02:16] zealic commented on #15
LEDE need update, plz.

[2017-07-28 06:54] turing-king commented on #15
@zealic 早就更新了~

[2017-07-28 06:54] #15 closed

[2017-10-07 17:06] qiankan520 opened #18 "如何更改版本号1.2.4"
我想把默认的1.1.14改为1.2.4  应该如果操作呢

[2017-12-02 15:34] forhuan opened #19 "X86 or X64 prebuild package ?"
I'm using LEDE-X64 , but there is no prebuild package for x86 or x64

[2017-12-02 21:32] mwarning commented on #19
Ok, time to build some packages:
https://github.com/mwarning/zerotier-openwrt/releases/tag/v1.2.4_2

The package will be attached there as soon they have finished building.

[2017-12-02 21:32] #19 closed

[2017-12-03 03:10] gutleib opened #20 "libminiupnpc.so.16 is missing in zerotier (1.2.4-2)"
`Error loading shared library libminiupnpc.so.16: No such file or directory (needed by /usr/bin/zerotier-cli)`

Sorry, late night hacking leads to poor judgement.
Additional info:
ver. of OS is LEDE 17.01.4
arch is MIPS MIPS 74Kc, installing on top of v1.1.14,
[code]
so, thats new.

[2017-12-03 03:17] mwarning commented on #20
yes, I should add that some libraries need to be installed as well.

[2017-12-03 03:21] mwarning commented on #20
Let me know if other packages have to be installed as well.
I wonder why the dependency is not recognized by opkg...

[2017-12-03 03:27] gutleib commented on #20
Actually, dependencies are resolved:
[code]
The problem is, the file is not in the package. File mentioned in error messsage is `libminiupnpc.so.16`, and I got `/usr/lib/libminiupnpc.so.10`

[2017-12-03 03:34] mwarning commented on #20
Hm, I will have to look into this problem tomorrow. Time to sleep.

[2017-12-03 22:32] mwarning commented on #20
@gutleib I have rebuild the packages. Please give it a try. I cannot test right now.

[2017-12-03 23:14] gutleib commented on #20
Is the change in source code, or in the release?

[2017-12-03 23:25] mwarning commented on #20
I've updated all packages from the openwrt-package feed to the most recent state. That caused the dependency on a newer miniupnpc version. But I should have updated only the zerotier package.

[2017-12-04 04:30] forhuan commented on #19
thanks

[2017-12-04 20:09] gutleib commented on #20
Cool.
But what I've asked was, can I just use your release files, or do I have to compile (sorry, I have no experience with feeds and building custom firmware)?

[2017-12-04 20:14] gutleib commented on #20
Nevermind previous question.

I've checked it, and it seems to work perfectly.
Thanks & keep up great work!

[2017-12-04 20:14] #20 closed

[2017-12-05 13:56] oso21 opened #21 "Segmentation fault on LEDE with 4.9 kernel on bcm4709"
Linux LEDE 4.9.65 #0 SMP Wed Nov 29 13:17:19 2017 armv7l GNU/Linux
Segmentation fault occurs when  it`s installed  from release or built from source code.
However ,zerotier of v1.1.14-4  runs normally ,it is wired.

[2017-12-05 17:20] mwarning commented on #21
Are you talking about ZT 1.2.4?
What are the steps to reproduce the problems?

[2017-12-05 20:02] mwarning commented on #21
I have installed the ZT package on LEDE 17.01.4 (tested on a NEXX WT3020).
System is a "Linux LEDE 4.4.92 #0 Mon Oct 16 22:57:05 2017 mips GNU/Linux".

Maybe you have installed the provided ZT package on the development version of LEDE, not the LEDE 17.01.4 release?

[2017-12-06 00:18] oso21 commented on #21
I compiled the firmware on the base of github.com/coolsonwwolf/lede.git , which is exactly the master branch of LEDE . Could it be the  problem of imcompabile of gcc or kernel 4.9?

[2017-12-09 11:30] improv-dev opened #22 "Generating new ZT client id each time rebooting router"
Hi, I followed the KB article and each time I reboot I get a new network id, so each time I need to authorize it. The filesystem on the router seems to be writable, because the /etc/config/zerotier was modified and saved. Is there something else I can look at? Thanks.

My Setup:
LEDE/Openwrt: LEDE Reboot SNAPSHOT r5465-98fb380 / LuCI Master (git-17.341.69632-b7906fc)
firmware: brcm47xx-mips74k-lin

[2017-12-09 17:29] mwarning commented on #22
After reboot. The client id stays the same for me. It is the first part of the secret, e.g.  option secret '0dfbb75d8a:0:6b3bc227229bcf0b1b15...' - here, 0dfbb75d8a is the client id.

[2017-12-10 11:48] improv-dev commented on #22
sorry i have also mentioned this issue at [https://github.com/zerotier/ZeroTierOne/issues/643](https://github.com/zerotier/ZeroTierOne/issues/643) and there i mentioned that /var/lib/Zerotier-one is mounted at /tmp and not saved persistently across reboots.

Yesterday I have installed a different router with LEDE snapshot/Zerotier1.2.4  and this one does not seem to have this problem. Its maybe on

[2017-12-10 18:42] mwarning commented on #22
I do not know what the problem is on a E2000.

[2017-12-11 17:58] improv-dev commented on #22
@mwarning sorry, as you already had pointed out, that it has something with option secret in /etc/config/zerotier i should not have modified this hex string, this has led to the consistent regeneration of new zt address with each reboot.

i found out when i reset the modem to default settings and reinstalled zerotier, but this time i didnt modify the hex string.

[2017-12-11 17:58] #22 closed

[2017-12-11 22:48] mwarning commented on #22
ok, good you found the problem.

[2017-12-11 23:10] mwarning commented on #21
LEDE master is not LEDE 17.01.4 (the current release).
The master branch is where the development happens.

[2017-12-12 00:41] mwarning commented on #21
[code]

Works for me. Build with latest OpenWrt/LEDE master. (Don't be confused, LEDE is in the process of being relabeled to OpenWRT :P). I can also ping other nodes.

I close this ticket as I have no means to reproduce this issue. Also, development code may break things from time to time.
Please reopen the ticket if you have more info.

[2017-12-12 00:41] #21 closed

[2017-12-13 22:37] Seohol opened #23 "0 join connection failed"
Hello guys, I've tried to install zerotier package to my router TP-Link 4300 v1
LEDE version: LEDE Reboot 17.01-SNAPSHOT r3600-d77fe92 / LuCI lede-17.01 branch ( Trunk )
Kernel Version | 4.4.102
Package installed: zerotier_1.2.4-2_mips_24kc.ipk

My steps:
root@TPLINK4300:~# opkg update

scp ./Downloads/zerotier_1.2.4-2_mips_24kc.ipk root@192.168.1.1:/tmp

root@TPLINK4300:~# cd /tmp

root@TPLINK430

[2017-12-13 23:28] mwarning commented on #23
Maybe it has to do that there is a network configured by default (the Earth network) in /etc/config/zerotier.
I don't use ZT myself, so I am not sure if this is a problem.

Do you happen to know if it has worked before?

[2017-12-15 12:34] mwarning commented on #23
@adamierymenko: do you have an idea?

[2017-12-16 15:34] hbxntsxw opened #24 "Could you please build a mipselsf version for routers with CPU MT7620(or MT7621)?"
My router's CPU is MT7621, I have tried all the versions from the release page. But none of them could install.

Below is the feedback:
[RT-N56U_B1 /opt/home/admin]# opkg install /tmp/zerotier_*.ipk
Package zerotier version 1.2.4-2 has no valid architecture, ignoring.

[2017-12-17 01:02] mwarning commented on #24
Please try https://github.com/mwarning/zerotier-openwrt/releases/download/v1.2.4_2/zerotier_1.2.4-2_mipsel_74kc.ipk

[2017-12-17 02:30] hbxntsxw commented on #24
Thank you very much!

[2017-12-17 12:01] mwarning commented on #24
ok, closing the ticket for now.

[2017-12-17 12:01] #24 closed

[2018-01-12 01:32] lucktu commented on #24
My route isn't working too!
The CPU is MTK7620A, building is "Gargoyle | OpenWrt Chaos Calmer 15.05.1 r49577".
I try "v1.2.4_2/zerotier_1.2.4-2_mipsel_74kc.ipk", get
`root@Gargoyle:/tmp# opkg install zerotier_1.2.4-2_mipsel_74kc.ipk
Preparing to install the following packages, which will require 742966 bytes:
        libstdcpp, libnatpmp, zerotier, libminiupnpc

Preparing to install package libstd

[2018-01-12 11:53] mwarning commented on #24
Can't you use an openwrt snapshot? https://downloads.lede-project.org/snapshots/targets/
`opkg update` and `opkg install zerotier` should do it.

[2018-01-13 05:57] lucktu commented on #24
@mwarning
no,nothing. https://downloads.lede-project.org/snapshots/targets/
but it's here, http://archive.openwrt.org/snapshots/trunk/ramips/mt7620/packages/packages/
--------------------------------------------------------------------------------------
I am sorry, installing:
root@Gargoyle:~# opkg install zerotier
Preparing to install the following packages, which will require 740501 bytes:

[2018-01-13 15:55] mwarning commented on #24
I tested https://downloads.lede-project.org/snapshots/targets/ramips/mt7620/openwrt-ramips-mt7620-wt3020-8M-squashfs-sysupgrade.bin
[code]

Works for me.

[2018-01-13 23:08] lucktu commented on #24
yes, lede is ok, but not for openwrt cc.

[2018-01-14 08:13] mwarning commented on #24
OpenWrt 15.05 is very old. Pease use lede (it is merging with OpenWrt now anyway). I can't do much for old OpenWrt versions.

[2018-01-15 02:08] lucktu commented on #24
I am sorry, but all come from Official.
https://www.gargoyle-router.com/download.php
http://dl.eko.one.pl/gargoyle-pl/chaos_calmer/ramips/

Otherwise, how about the ipk for entware ?

[2018-01-15 11:33] mwarning commented on #24
If the gargoyle project builds there own images, then they should also provide their own packages.
I do not know what openwrt version their images are based on. If it is an old openwrt version, then there is nothing I can do.

[2018-01-15 11:36] lucktu commented on #24
OK, I see.
Thank you!

[2018-01-17 14:24] boschkundendienst opened #25 "persistent folder and variable paths to be able to run a ZeroTier controller on LEDE"
I am currently experimenting with the ZeroTier controller which is implemented into ZeroTier since Version 1.2 on my LEDE router (OpenWrt SNAPSHOT r5849-5bbcd80) with ZeroTier 1.2.4 on a TP-LINK TL-WDR4300.

Some problems came up.

A controller needs some reboot resistent files so I took a look at the `/etc/init.d/zerotier` script and found a lot of hardcoded paths in there. So I changed them to a

[2018-01-17 14:36] mwarning commented on #23
Please try images from https://downloads.lede-project.org/snapshots/targets/ - maybe the issue has been resolved.

[2018-01-17 14:46] boschkundendienst commented on #23
You have to setup the networks ZeroTier should connect to via `/etc/config/zerotier` or using the **uci** command line interface.

After a clean install of ZeroTier `/etc/config/zerotier` looks like this:

[code]

The init script `/etc/init.d/zerotier` detects that the secret is `generate` and will create one and add it into `/etc/config/zerotier` like this:

[code]

After that Zerotier will join

[2018-01-17 14:53] boschkundendienst commented on #7
I also had a working setup in the past. As far as I remember it was like this:

Configured OpenWRT/LEDE to forward packets into LAN and added zt0 interface to the LAN bridge. Configured the ZeroTier client that is running on my router via my.zerotier.com for bridging, then added a route at my.zerotier.com to my LAN via the Zerotier client that I allowed for bridging.

At this point all members of

[2018-01-17 15:00] mwarning commented on #25
Sure, that can be done and isn't much work. But keep in mind that writing into the flash might degrade the chip.
Wouldn't it be possible to keep all static data in /etc/config/zerotier?

[2018-01-17 15:15] mwarning commented on #7
@boschkundendienst it would be cool if you could write a small howto.
We can put it into the wiki.

[2018-01-17 15:17] mwarning commented on #25
What information need to be stored for the network controller? Is the network controller a suitable task for a openwrt router?

[2018-01-17 16:01] boschkundendienst commented on #25
I think the router can handle it. Having your own controller (currently only configurable via API using Json requests) has the benefit, that you would not need an account at zerotier.com. You would only use their backend as a kind of phonebook like DNS. All members of your network (you host via the controller) will use the information from the controller to connect or use the controller as router

[2018-01-17 16:03] boschkundendienst commented on #25
`>Wouldn't it be possible to keep all static data in /etc/config/zerotier?`
This might be possible if we could re-create the ZeroTier working folder with all necessary files containing the secrets and configuration (also for the controller) from config file. But afaik now they are not all just text files some are small databases I think.
Of course this would be better for keeping the router alive

[2018-01-17 16:04] boschkundendienst commented on #7
Will definetely do when I have time and keep you on track.

[2018-01-19 12:13] boschkundendienst commented on #7
@mwarning
I think this should be a good help for people that try to use a ZeroTier client as a router to other network members behind the ZeroTier client that do not have ZeroTier installed.
Adapting this for bridging should be no problem. I think key is, that you set a correct route within my.zerotier.com to the targeted machines sitting behind the ZeroTier client, then it works.
I wrote this how

[2018-01-19 17:24] mwarning commented on #7
Well done. I've put it here: https://github.com/mwarning/zerotier-openwrt/wiki

[2018-01-19 17:24] #7 closed

[2018-01-19 17:27] mwarning commented on #7
@boschkundendienst I've send you an invite. In case you want to edit the wiki or add features to packet.

[2018-01-20 01:26] mwarning commented on #25
I have implemented a few changes to make the configuration path configurable: https://github.com/mwarning/zerotier-openwrt/commit/d82d87976a0222fd4e95d7349d0a288ef7fb9f3e
If it works, we can submit it to https://github.com/openwrt/packages/.

[2018-01-20 20:13] boschkundendienst commented on #25
Changes look good, could not test, yet. We should keep in mind, when someone has changed the configuration folder also zerotier-cli needs the path as parameter.

[code]
I am not that familiar with LEDE. If it would be possible, when a custom path is used to automatically alias `zerotier-cli as `zerotier-clie -D<newpath>`, that would be great!

[2018-01-20 20:29] boschkundendienst opened #26 "ZeroTier hangs in controller mode"
Just to mention, that the problem I am running into (after configuring controller ZeroTier will hang on restart) is discussed [here](https://github.com/zerotier/ZeroTierOne/issues/553) and it looks like they fixed it somehow with a patch or removing one (f4feccc6).

Is this fix in your version of ZeroTier?
[ ZeroTier hangs in controller mode #553 ](https://github.com/zerotier/ZeroTierOne/issues/55

[2018-01-20 20:53] mwarning commented on #25
That is why I make a symbolic link from the /var/lib/zerotier-one to the custom path. Works for me.

[2018-01-20 20:53] #25 closed

[2018-01-20 21:07] mwarning commented on #26
I've added the patch. But have not tested it yet.

[2018-01-22 12:26] boschkundendienst commented on #26
I would like to test it, but I am not very good at compiling stuff. Is there a way to get it as package for my router. I am running `https://downloads.lede-project.org/releases/17.01.4/targets/ar71xx/generic/lede-17.01.4-ar71xx-generic-tl-wdr4300-v1-squashfs-factory.bin` with ZeroTier `zerotier - 1.2.4-2`

[2018-01-22 12:50] boschkundendienst commented on #25
I can confirm the init script works as expected after adding

[code]

to `/etc/config/zerotier`

Thanks for that one!

[2018-01-22 22:11] mwarning commented on #26
@boschkundendienst try http://mwarning.de/misc/zerotier_1.2.4-2_mips_24kc.ipk

[2018-01-23 07:55] boschkundendienst commented on #26
@mwarning It seems to work - good job

I did a quick check by installing your package, setting a config, starting ZeroTier and created a dumb controller. It seems restarting ZeroTier now works if a controller configuration is present. - Nice!

**Info**
[code]

**Installing ZeroTier**
[code]

**Configure ZeroTier via uci**
[code]

**create config folder in filesystem (not tmpfs) and start ZeroTier*

[2018-01-23 10:17] mwarning commented on #26
ok, great. I will submit the changes to github.com/openwrt/packages then.
Thank you for the thorough testing.

[2018-01-23 10:17] #26 closed

[2018-01-23 10:59] mwarning commented on #23
I don't know what can be done here. Maybe it's a usage error, a bug or a network error. I don't think we can find out since it works for me.

Please reopen if the problem persists.

[2018-01-23 10:59] #23 closed

[2018-03-04 03:51] turing-king opened #27 "Segmentation fault"
[code]

[2018-03-04 17:30] mwarning commented on #27
Hm, do you use LEDE 17.01.4? I haven't tested any older releases.
I don't have that platform (armv7l) available to reproduce the problem.

If you don't mind using a development build, you should use images from here https://downloads.openwrt.org/snapshots/targets/
Then do "opkg update" and "opkg install zerotier".

[2018-03-30 19:09] Miegl commented on #27
Getting the same exact error on latest snapshot build.

[2018-03-30 19:14] Miegl commented on #27
Th older zerotier 1.1.14-4 package from 17.01.4 repo seems to be working fine.

[2018-03-30 20:04] mwarning commented on #27
Can you reproduce the problem? If yes, how? What device is affected in your case?

[2018-03-30 20:09] Miegl commented on #27
`root@gateway:~# opkg install zerotier
Installing zerotier (1.2.4-3) to root...
Downloading http://downloads.lede-project.org/snapshots/packages/arm_cortex-a15_neon-vfpv4/packages/zerotier_1.2.4-3_arm_cortex-a15_neon-vfpv4.ipk
Configuring zerotier.
root@gateway:~# nano /etc/config/zerotier
root@gateway:~# /etc/init.d/zerotier stop
root@gateway:~# /etc/init.d/zerotier start
sh: /var/lib/zerotier-on

[2018-04-10 07:13] delandtj commented on #27
For the segfault, I haven't been able to track it down, as building it with debug makes the problem go away :-/ (Heisenberg)

But the segfault always happens on mvebu (LinkSys WRT 1900*,3200ACM) when ZT isn't built with debug info.

the `unknown operand` is due to :
 https://github.com/openwrt/packages/blob/master/net/zerotier/files/zerotier.init#L31 , where config_path isn't set

add `option conf

[2018-04-10 07:48] mwarning commented on #27
ah, ok. The unknown operand error is easy to fix. But I do not know about the segfault. My testing device is broken and I wait for the new shipment for a month now...

[2018-04-11 13:55] jalanmac opened #28 "Generate Secret Issue After Upgrade To 1.2.4-3"
I had ZeroTier working fine on an ESR900 with the 1.1.4 standard version that populated OpenWrt. I am planning to put this router in a remote site so thought I would upgrade and try it out for a while. I followed your instructions and upgraded ZeroTier - everything appears to have occurred properly. I rebooted the router and noticed that my working configuration was gone - replaced by the sample a

[2018-04-11 21:57] mwarning commented on #27
@Miegl please try https://mwarning.de/misc/zerotier_1.2.4-4_arm_cortex-a15_neon-vfpv4.ipk

[2018-04-11 22:01] mwarning commented on #28
Please do `uci set zerotier.sample_config.enabled=1`, `uci commit zerotier` and start ZT with `/etc/init.d/zerotier start`.

Then check ZT status with "zerotier-cli status"

[2018-04-12 12:44] Miegl commented on #27
[code]

[2018-04-12 13:24] mwarning commented on #27
@Miegl  thanks, I can reproduce the error now. :-)

[2018-04-12 14:10] delandtj commented on #27
@Miegl how did you get that output from procd ?

[2018-04-12 15:20] mwarning commented on #27
@Miegl please try again: https://mwarning.de/misc/zerotier_1.2.4-4_arm_cortex-a15_neon-vfpv4.ipk

[2018-04-12 15:33] delandtj commented on #27
@mwarning do you have a branch or commit ? did you find to fix the segfault ?

[2018-04-12 17:26] mwarning commented on #27
@delandtj

[2018-04-12 20:16] Miegl commented on #27
@mwarning wow it actually seems to work! Thank you :+1:

[2018-04-12 20:52] #27 closed

[2018-04-12 21:41] mwarning commented on #28
This does not seem to be a ZT issue.
Putting uci config lines into the command line won't work.
Please open another ticket if you have more information.

[2018-04-12 21:41] #28 closed

[2018-04-13 12:14] delandtj opened #29 "Need to explicitely join zt net after reboot"
Using latest tree (and also before) I need to explicitely `zerotier-cli join xxxxxxxxxx` after a reboot, or after a `/etc/init.d/zerotier restart`

[code]
after restart : no `zt0`

I have to `zerotier-cli join z2d702236df22344` to have `zt0` again.

tried to do that in the `add_join` but no dice

[2018-04-13 13:58] mwarning commented on #29
Can you show me your /etc/config/zerotier?
I suspect the problem is that you now have `option join 'generate'` instead of `list join 'generate'`

[2018-04-13 14:32] delandtj commented on #29
pffffff....
uci add_list ....
I stand corrected
Jan

[2018-04-13 14:34] mwarning commented on #29
NP, I will burry it as deep as I can. xD

[2018-04-13 14:34] #29 closed

[2018-04-24 15:12] fanthos commented on #19
I am running LEDE x64, but seems that x86 package not usable on my device. Can you also build it for x64?

[2018-04-24 16:15] mwarning commented on #19
I have added the package. See https://github.com/mwarning/zerotier-openwrt/releases/tag/v1.2.6_1

[2018-04-30 03:54] rhenku opened #30 "Can u make chaos chalmer 15.05.1"
Can u make package for chaos chalmer 15.05.1 sunxi target, i want use this for orange pi zero,
thx..

[2018-05-01 23:02] mwarning commented on #30
Chaos clamer is simply too old, sorry about that.

[2018-05-01 23:02] #30 closed

[2018-05-09 03:19] wealthwatcher opened #31 "allowDefault=true causes ZT0 interface to go offline"
I'm trying to get my router to send all traffic for connected devices through the Zerotier-assigned default gateway.  When the setting allowDefault=true is enabled via zerotier-cli, the ZT0 interface goes offline and can't be reconnected until after a reboot.

[2018-05-22 02:58] mixzine opened #32 "##ATTENTION!!!##Installing ZeroTier On Your LEDE"
I download and installed zerotier_1.2.8-1_mipsel_24kc.ipk
Then i found The config fiile /etc/config/zerotier is wrong
By correct it should look something like this:
`config zerotier 'default'
        option enabled '1'
        option interface 'wan'
        list join '8056c2e21c000001'
        option secret 'some_really_long_hex_string'`

[2018-05-22 03:00] mixzine commented on #32
This is the wrong config
`
root@LEDE:/etc/config# cat zerotier

	config zerotier sample_config
	option enabled 0

	# persistent configuration folder (for ZT controller mode)
	#option config_path '/etc/zerotier'

	#option port '9993'

	# Generate secret on first start
	option secret 'generate'

	# Join a public network called Earth
	list join '8056c2e21c000001'
`

[2018-05-22 12:06] mwarning commented on #32
Hi @mixzine, 'generate' will be replaced by some_really_long_hex_string when start zerotier.

[2018-05-22 12:06] #32 closed

[2018-05-23 08:48] mixzine commented on #32
我已经在LEDE上装好了1.2.8.1 完美

[2018-05-24 00:31] turingking opened #33 "symbol not found"
`
root@LEDE:# opkg install zerotier
Upgrading zerotier on root from 1.2.4-2 to 1.2.8-2...
Downloading http://mirrors.ustc.edu.cn/lede/snapshots/packages/arm_cortex-a9/packages/zerotier_1.2.8-2_arm_cortex-a9.ipk
Removing obsolete file /usr/bin/zerotier-selftest.
Configuring zerotier.
disabled in config
root@LEDE:# zerotier-cli status
Error relocating /usr/bin/zerotier-cli: _ZNSt6thread15_M_start_th

[2018-06-01 22:49] mwarning commented on #31
Hm, what Zerotier, LEDE or openwrt version did you use? What model / platform did you try?

[2018-06-04 06:35] Jbbrack03 opened #34 "Having a Client pass through and be assigned IP By ZeroTier"
I installed ZerTier on my R6100. The R6100 is acting as a bridge between my LAN and my ZeroTier Network. My local Lan is on a 192.168.2.xxx subnet. My ZeroTier Network is assigning 172.28.28.xxx. I need a device that connects to my local LAN to be managed directly by the ZeroTier network and receive a 172.28.28.xxx IP. So basically pass through the R6100 to show as a client on Zerotier. Is this po

[2018-06-04 18:16] mwarning commented on #34
It looks like you need to bridge the zt0 interface with the wireless interface. Or you need to forwarding from 192.168.2.1:9944 to 172.28.28.162:9944: https://wiki.openwrt.org/doc/howto/port.forwarding

[2018-06-04 18:16] #34 closed

[2018-06-05 23:39] wealthwatcher commented on #31
Zerotier 1.1.14
Lede Reboot (17.01.4, r3560-79f57e422d)
[GL-AR300M NAND](https://gl-inet.com/docs/mini/ar300m/)

[2018-06-11 04:04] arampak opened #35 "Error after installation - "disabled in config""
After downloading and installing with opkg on LEDE Reboot 17.01.4 the following lines are printed in console:
Configuring zerotier.
disabled in config
Previous version (1.1.14) had no such problem.

router TP-LINK TL-WDR3600/4300/4310, Atheros AR9344 rev 2
opkg file: zerotier_1.2.8-1_mips_24kc.ipk

[2018-06-11 08:33] mwarning commented on #35
Set "option enabled 1" in /etc/config/zerotier. Looking back, this might no have been a good idea as a solution to a minor problem...

[2018-06-11 08:33] #35 closed

[2018-06-12 11:49] mwarning commented on #33
First you need to set option enabled in /etc/config/zerotier to 1. But I am going to remove that soon, as it breaks backwards compatibility.

I do not know where the missing symbols come from.

[2018-06-13 10:35] mwarning commented on #31
Maybe it was fixed by now?

[2018-06-13 14:42] wisfern opened #36 "where can i download zerotier-openwrt(1.2.10) for openwrt packages?"
Another release. But without packages for Lede, since the minimum compiler version has been raised.
For OpenWrt packages, look here: https://downloads.openwrt.org/releases/17.01.4/packages/

but i can't find this packages in this url!

[2018-06-13 17:08] mwarning commented on #36
Well, I wasn't able to update the Zerotier package for this release, because the dependencies of the newer Zerotier packages changed. Zerotier does build for 17.01.4.

[2018-06-13 17:08] #36 closed

[2018-07-03 15:42] rklomp commented on #33
Same issue here

`root@AP01:~# opkg upgrade zerotier
Upgrading zerotier on root from 1.1.14-4 to 1.2.10-1...
Downloading http://downloads.lede-project.org/snapshots/packages/mips_24kc/packages//zerotier_1.2.10-1_mips_24kc.ipk
Configuring zerotier.
disabled in config
root@AP01:~# zerotier-cli
Error relocating /usr/bin/zerotier-cli: _ZNSt6thread15_M_start_threadESt10unique_ptrINS_6_StateESt14default

[2018-07-03 17:51] mwarning commented on #33
Looks like a missing symbol for std::thread. I assume the libstdc++ is too old.
It might help to update libstdc++.

[2018-07-04 19:18] rklomp commented on #33
libstdcpp is currently at version 5.4.0-1

I used the package from http://downloads.lede-project.org/snapshots/packages/mips_24kc/packages/zerotier_1.2.10-1_mips_24kc.ipk

[2018-07-08 19:28] rklomp commented on #33
I just installed libstdcpp 7.3.0 and it looks like it is working now.

https://downloads.openwrt.org/snapshots/targets/ar71xx/generic/packages/libstdcpp_7.3.0-1_mips_24kc.ipk

[2018-07-08 20:08] mwarning commented on #33
awesome. I will put that info into the release note.

[2018-07-08 20:13] #33 closed

[2018-07-28 02:41] darkrain88 commented on #33
Error relocating /usr/bin/zerotier-cli: _ZNSt6thread15_M_start_threadESt10unique_ptrINS_6_StateESt14default_deleteIS1_EEPFvvE: symbol not found
Error relocating /usr/bin/zerotier-cli: _ZNSt6thread6_StateD2Ev: symbol not found
Error relocating /usr/bin/zerotier-cli: _ZTINSt6thread6_StateE: symbol not found

same problem occurred i'll try to update libstdcpp

[2018-07-28 14:29] mwarning commented on #33
@darkrain88 what lede/openwrt version is that? Or where did you get the image?

[2018-07-30 10:30] darkrain88 commented on #33
@mwarning  x64 edition

[2018-07-30 10:44] mwarning commented on #33
ok, that seem to be an older release. Hence the problem.

[2018-08-01 08:30] alexforencich opened #37 "Illegal instruction with v1.2.8 on WNDR3700 (OpenWrt 18.06.0)"
Not much else to say.  Seems to work on WNDR4300v1, fails with illegal instruction on WNDR3700v2.  It appears both are using the same mips_24kc package.

[2018-08-01 08:55] mwarning commented on #37
I don't think I can debug this without hardware.
What image did you use (compiled it yourself or downloaded from openwrt.org)?
And how did you install Zerotier?

[2018-08-01 16:06] alexforencich commented on #37
I downloaded the latest build of 18.06.0 from OpenWrt and installed zerotier through the web interface, so I presume it came from the OpenWrt package archive for 18.06.0.  If there is anything I can do to help debug this, I can certainly run stuff on the router in question.

[2018-08-01 23:15] mwarning commented on #37
I think the problem are stack protection flags used for building ZT.
Some flags would need to be tested. But I do not have the time right now.

[2018-08-02 18:16] barbabob opened #38 "zerotier device names and MTU"
To prevent garbage device names I must keep a file /var/lib/zerotier-one/devicemap. On a start zerotier recreates a whole bunch, and on a stop it removes ALL of it. This makes it unmanagable and it forces needles writes. Please keep some configfile(s) that can set the device name and MTU of that device.  (MTU must be low to keep an ssh connection (A-NAT--NAT-B) possible.)
BTW, zerotier on 18.06.0-

[2018-08-05 14:58] zyclonite commented on #37
see the same behavior on WNDR3700v2, when i upgrade to zt 1.2.12 i get a seq fault...
interesting is... it does not fail immediately, most of the time its works some minutes, creates the interface, joins the network a.s.o. but suddenly crashes

i tried to build everything from scratch as well... no luck yet

@mwarning what stack protection flags are you referring to?

[2018-08-06 11:48] zyclonite commented on #37
built (against 18.06.0) without stack-protection flag works well on a tl-wdr4300-v1

@alexforencich please test this build on your WNDR3700v2 (i cannot reach mine from work)
https://router.wsn.at/dist/packages/mips_24kc/packages/zerotier_1.2.12-2_mips_24kc.ipk

[2018-08-06 11:55] mwarning commented on #37
Nice, if this works for @alexforencich as well, then please make a pull request or let me know what you have changed.

[2018-08-06 13:50] zyclonite commented on #37
sure and i will test on a wrt1900ac as well

[2018-08-06 22:58] alexforencich commented on #37
Tried it, it seems to be segfaulting

[2018-08-06 23:04] mwarning commented on #37
@zyclonite ZT adds  -fstack-protector also to CXXFLAGS in its Makefile and various flags depending on the platform. I suspect the problem to be there.

[2018-08-07 05:37] zyclonite commented on #37
i'll do some more tests/tries but i am off for around a week now

[2018-08-07 10:54] mwarning commented on #37
ok, thank you very much for the testing so far!

[2018-08-16 11:29] mwarning commented on #37
@zyclonite can you get me a openwrt-ramips-mt7620-wt3020-8M-squashfs-sysupgrade.bin? I do not have any other platform available for testing right now.

[2018-08-17 07:43] zyclonite commented on #37
@mwarning here you are (including debug build of zt)
https://router.wsn.at/dist/ramips/mt7620/openwrt-ramips-mt7620-wt3020-8M-squashfs-sysupgrade.bin

[2018-08-17 09:47] mwarning commented on #37
@zyclonite ZT/image works for me.

[2018-08-17 13:13] zyclonite commented on #37
i fear its only this wndr3700v2 which does not work...

[2018-08-20 14:21] zyclonite commented on #37
got another wndr370v2 router to test during the weekend, tried the debug version... but it looks like it is always crashing at different situations (at least what the consule output states before the crash)

a bit strange was, the debug version has no symbols... so i could not attach gdb...
do i need another flag for the build to include debug symbols?

[2018-08-20 15:42] mwarning commented on #37
The package makefile passes a flag to the Zerotier makefile: https://github.com/mwarning/zerotier-openwrt/blob/master/zerotier/Makefile#L42
Maybe the Makefile do not recognize that flag anymore.

[2018-08-20 16:43] zyclonite commented on #37
i think, that's working because i get debug output but still no debug flags... need to check the zt repo...

[2018-08-27 21:57] alexforencich opened #39 "Very high CPU usage (OpenWrt 18.06.1 on WNDR4300)"
Under 18.06.1, zerotier (1.2.8) seems to be using an unusually large amount of CPU time.  Without zerotier running, the load is less than 1.  Upon starting zerotier, the load jumps to around 4.  Any connection involving zerotier does not perform well - lagging SSH, LuCI pages load very slowly and unreliably, etc.

This issue does not seem to be present on 18.06.0, or is at least less severe.  Unde

[2018-08-27 23:38] mwarning commented on #39
Was OpenWrt 18.6.0 also running zerotier 1.2.8?

[2018-08-28 00:04] alexforencich commented on #39
I rolled back to 18.06.0, and it looks like it's running 1.2.8-2.  I presume opkg installed 1.2.8-2 under 18.06.1 as well.

[2018-08-28 01:57] alexforencich commented on #39
Looks like with zerotier 1.2.8-2 on openwrt 18.06.0 seems to use a lot of CPU as well, top reports it as using 15-50% continuously even with less than 1 KB/s of traffic through the ZT interface

[2018-08-28 02:18] alexforencich commented on #39
I did another experiment: I left zerotier running, but left all associated networks.  It still sits on top of the top process list, consuming usually around 20%, but periodically dropping to 0 or spiking to 50%.  Shouldn't zerotier be mostly idle when not associated with any networks?

[2018-08-28 08:38] mwarning commented on #39
Actually, I do not know how much processing time ZT uses. But it is meant for smartphones as least powerful systems. So a Wi-Fi router is somewhat out of the league in terms of processing power.

[2018-09-02 03:11] pulento opened #40 "Cannot autostart multiple networks"
Have the following config to connect two networks:

[code]

On reboot only 'net2' starts, manually joining the 'net1' works and if I comment following line:

https://github.com/mwarning/zerotier-openwrt/blob/9dbf19e25d9f5d4a5f4b428a2c4eb70de9635291/zerotier/files/zerotier.init#L20

Both networks are started on restart. Seems like removing the config folder every time a instance starts has the cons

[2018-09-02 11:40] mwarning commented on #40
yeah, this looks like a bug. I haven't properly tested starting multiple networks.

[2018-09-02 14:00] mwarning commented on #40
Here is a fix: https://github.com/mwarning/zerotier-openwrt/commit/f8894c21ccdbc45fe46cbcac8fdfb429c6608bef

Can you test it?

[2018-09-02 14:40] mwarning commented on #40
My own testing says that the problem is fixed. Please reopen if it does not work for you.

[2018-09-02 15:01] pulento commented on #40
No :( cannot reopen because you closed it

I end with this directory structure:

[code]

Oddly now just 'net1' autostarts and zerotier-cli nags:

[code]

Then I manually fixed the port file but auth token is missing also:

[code]

Since zerotier-one just look /var/lib/zerotier/networks.d we need a way that both nets end up there not on different directories am I right ?

[2018-09-02 15:30] pulento commented on #40
Actually no, but I did reboot between tests. Also just commenting the line I mentioned you can maintain multiple networks just running one zerotier-one instance the same as the stock Linux/MacOS clietn:

[code]

Forcing different ports do autostart both networks but I do get two zerotier-one process and I have to change config paths with -D for cli as you stated.

Question is why this would be bet

[2018-09-02 15:53] mwarning commented on #40
Having multiple networks by instance is the common way to work with zerotier and should work.
Just add multiple `list join '<network_id>'` items to your section in `/etc/config/zerotier`.

[2018-09-02 15:55] mwarning commented on #40
Example:
[code]

[2018-09-02 16:10] pulento commented on #40
:)

Now I get it. I just moved my config to:

[code]

And it works fine. Your solution is more generic. I image one could connect one instance to the public Zerotier (and multiple networks inside it) and another to a private Zerotier but I haven't see a config parameter to point the client to a different "Control Plane".

Thanks for your clarification !

[2018-09-02 16:10] #40 closed

[2018-09-11 06:14] alexforencich commented on #39
Hmm, I just tried upgrading to OpenWrt 18.6.1 and installing zerotier again and the usage seems more reasonable.  Seems to be idling around 6%, even when connected to one network.  And load is around 0.3-0.5.  However, I did notice that opening up the default LuCI status page in the browser results in a load of like 4.  So maybe last time I had that open in a tab and didn't realize it.

[2018-09-11 06:14] #39 closed

[2018-09-11 06:32] alexforencich commented on #37
Same problem under openwrt 18.06.1.  Zerotier fails to start with 'illegal instruction'.

[2018-09-21 19:45] charlemagnelasse commented on #9
This uclibc++ problem is also mentioned at https://bugs.openwrt.org/index.php?do=details&task_id=1859

[2018-09-25 13:51] qq472870007 commented on #37
i have met the same problem on my wndr3800
zerotier version is 1.2.8，I try to update to 1.2.10, faild
'zerotier-one -d' will be killed without any log
Neither official or compiled myself
And my openwrt is also 18.06.1
and ZTE hg255d is faild too

[2018-09-25 16:42] mwarning commented on #37
What about openwrt nightly? https://downloads.openwrt.org/snapshots/targets/

[2018-10-16 13:57] qq472870007 commented on #37
https://downloads.openwrt.org/snapshots/targets/ar71xx/generic/openwrt-ar71xx-generic-wndr3800-squashfs-sysupgrade.bin （Tue Oct 9 13:37:29 2018 ） && zerotier 1.2.12
the process is been killed too

[2018-10-17 05:57] rwv opened #41 "Error `disabled in config` in starting ZeroTier"
I am unable to start ZeroTier after freshly installing ZeroTier from opkg:
[code]

Also, I could manually start ZeroTier using `zerotier-one`

[2018-10-18 12:58] mwarning commented on #41
Edit `/etc/config/zerotier`. There is an option called enabled. Set it to 1 to enable the start script.

[2018-10-22 21:30] #41 closed

[2018-10-27 16:56] bin000000 opened #42 "SDK cross-compilation error, how to solve this"
bbb@Bin-Ubuntu:~/OpenWrt-SDK-ramips-for-linux-x86_64-gcc-4.8-linaro_uClibc-0.9.33.2$ make package/feeds/zerotier/zerotier/compile V=99
/home/bbb/OpenWrt-SDK-ramips-for-linux-x86_64-gcc-4.8-linaro_uClibc-0.9.33.2/staging_dir/host/bin/find: `package/OpenWrt-Toolchain-ramips-for-mipsel_24kec+dsp-gcc-4.8-linaro_uClibc-0.9.33.2/toolchain-mipsel_24kec+dsp_gcc-4.8-linaro_uClibc-0.9.33.2/mipsel-openwrt-li

[2018-10-27 17:09] mwarning commented on #42
What were the steps you do to get to this error?

Btw.: Use triple grave accent characters to frame your console output. Otherwise the output is hard to read.

[2018-10-27 17:29] mwarning commented on #42
Sorry, I do not speak Chinese. How can I reproduce the error message? What are all the commands to enter into the console?

[2018-10-27 17:43] bin000000 commented on #42
I cross-compile with the OpenWRT14.07 SDK, add the src link to feeds.conf.default, run scripts/feeds update -f zerotier scripts/feeds install -a -p zerotier and enter make package/feeds/zerotier/zerotier/compile V＝99. This error occurred.

[2018-10-27 17:49] mwarning commented on #42
OpenWrt 14.07 is really old and this probably does not work. Try OpenWrt 18.06. ZeroTier is already in the default feed for that version.

[2018-10-27 18:02] bin000000 commented on #42
My router officially only developed version 14.07, no way. But I want to use your zerotier。Is there a way to compile?

[2018-10-27 18:04] mwarning commented on #42
hm, what device do you have? (router model)

[2018-10-27 18:28] mwarning commented on #42
hm, maybe compile the OpenWrt yourself. This will also create a package as a byproduct you might be able to use:
[code]

[2018-10-27 18:49] bin000000 commented on #42
However, there is still no zerotier in feeds of 14.07, what should I do, I need zerotier. I required zerotier of the MT7620a.can you help me?

[2018-10-27 19:03] mwarning commented on #42
For the record, this was successful:
[code]

[2018-10-27 19:04] mwarning commented on #42
@bin000000 do you have an SDK for your link?

[2018-10-27 19:33] mwarning commented on #42
Can you give me the link to the SDK. So I can give it a try..

[2018-10-27 20:13] bin000000 commented on #42
Sorry, I will not use Github, can I leave an email address for me? I send it to you.

[2018-10-27 20:16] mwarning commented on #42
nevermind, I think I've found it http://archive.openwrt.org/barrier_breaker/14.07/ramips/mt7620a/OpenWrt-SDK-ramips-for-linux-x86_64-gcc-4.8-linaro_uClibc-0.9.33.2.tar.bz2

[2018-10-27 20:19] bin000000 commented on #42
Yes, it is this. thank you very much! I hope to hear your good news.

[2018-10-27 20:35] mwarning commented on #42
I did not succeed in compiling the package. But it looks like your device is still supported with 18.06.1.
https://downloads.openwrt.org/releases/18.06.1/targets/ramips/mt7621/openwrt-18.06.1-ramips-mt7621-k2p-squashfs-sysupgrade.bin

[2018-10-27 20:46] bin000000 commented on #42
Yes, my device can support 18.06.1. But I want to use GoCloud firmware, which has the unique features I need. So now I want to add zerotier to this firmware to be perfect. I don't want to use other firmware. Is there a way to fulfill my wish?

[2018-10-27 20:52] bin000000 commented on #42
I just want to use GoCloud firmware and don't want to use other firmware. But the GoCloud firmware is compiled based on 14.07. Is there a way to compile a zerotier for MT7628a for 14.07?

[2018-10-27 20:56] bin000000 commented on #42
I just want to use GoCloud firmware and don't want to use other firmware. But the GoCloud firmware is compiled based on 14.07. Is there a way to compile a zerotier for MT7620a for 14.07?

[2018-10-27 21:16] mwarning commented on #42
I do not think this is possible without much effort.

[2018-10-28 01:43] bin000000 commented on #42
Ok, I think about it again, thank you.

[2018-11-12 10:58] zyclonite commented on #37
crashes on some other routers as well (tested with tl-wr1043nd v1)... but it can take to several hours until that happens

[2018-11-12 16:03] qq472870007 commented on #37
it seem the problem is solved on the WNDR3800 the nightly version with zt 1.2.12。
but i meet a new problem with huawei HG255d.

[2018-12-07 10:44] SuoaJ opened #43 "ZEROTIER - OPENWRT"
I installed OpenWRT 18.06.1 on a Linksys EA3500 router. According to the OpenWRT page on the device the package is "arm_xscale". Then I proceed to install Zerotier but I get this error below:

`
root@OpenWrt:/tmp/juke# opkg install zerotier
Installing zerotier (1.2.4-2) to root...
Downloading http://downloads.openwrt.org/snapshots/trunk/kirkwood/generic/packages/packages/zerotier_1.2.4-2_kirkwood.

[2018-12-07 10:51] SuoaJ commented on #43
I should also note that before this error in the post above, I tried installing Zerotier and it complained about a kernel dependency as shown below. I did a "opkg --force-depends" which eventually installed Zerotier but ended up with the error above.

`
root@OpenWrt:~# opkg install zerotier
Installing zerotier (1.2.4-2) to root...
Downloading http://downloads.openwrt.org/snapshots/trunk/kirkwood/g

[2018-12-09 20:14] SuoaJ commented on #43
Got it to work guys by compiling Openwrt.

[2018-12-09 20:14] #43 closed

[2018-12-09 20:30] SuoaJ opened #44 "NEW ID AND ADDRESS AFTER EACH REBOOT"
I compiled Openwrt with support for Zerotier as described in the readme of this Git post. My issue now is that a new address and entry is generated on myzerotier.com each time the router is rebooted? How is this resolved? This is my
/etc/config/zerotier;

Edit: The MAC address of the virtual Zerotier adapter also changes with every reboot.

[2018-12-09 22:52] SuoaJ commented on #43
Yes, that is what I did. Took a couple hours. Never realised it took so long to compile Openwrt.

[2018-12-09 22:57] SuoaJ commented on #44
Should a new Zerotier interface be created everytime the router is rebooted? The problem with that is one has to go the the Zerotier page each time the device is rebooted to authorise the new address. This does not happen on my Raspberry Pi or Android phone where I also have Zerotier installed.

[2018-12-09 23:40] mwarning commented on #44
I have never visited the controller page. If the address (MAC?) has be registered, then there needs to be fixed something. But maybe the address can be fixed in /etc/config/network.
[code]
(not sure if this works)

[2018-12-21 19:31] SuoaJ commented on #44
Problem solved. Must have been an issue with my config file. Followed a tutorial I found right here:

https://github.com/mwarning/zerotier-openwrt/issues/7#issuecomment-358949256

`root@LEDE:~# uci set zerotier.lede_network=zerotier
root@LEDE:~# uci set zerotier.lede_network.interface='wan'
root@LEDE:~# uci set zerotier.lede_network.secret="$(cat /var/lib/zerotier-one/identity.secret)"
root@LEDE:~

[2018-12-21 19:31] #44 closed

[2018-12-21 19:45] SuoaJ opened #46 "HIGH CPU USAGE LEDE 17.01.6"
I am currently running Zerotier  1.1.14 on LEDE 17.01.6 on a Linksys EA3500 router. CPU and memory usage by Zerotier seems high all of the time, for example, at 25% and 49%, respectively. I compiled LEDE and Zerotier myself by following the guide in the readme of this repository. I would like to try a later version to see if this solves the problem. How do I upgrade to a later(or latest) version o

[2018-12-23 00:16] mwarning commented on #46
Maybe this image work for you:
http://downloads.openwrt.org/releases/18.06.1/targets/kirkwood/generic/openwrt-18.06.1-kirkwood-linksys_audi-squashfs-sysupgrade.bin

If successful, install ZT via the ssh console:
[code]

[2018-12-23 00:19] mwarning commented on #38
How do the device names look like? Do you connect to a lot of different networks at once?

Btw. in /etc/config/network you can add an interface section to pin a devices mac and mtu.

[2018-12-23 01:08] SuoaJ commented on #46
I have wireless/latency issues with 18.06.1, hence why I am using 17.01.6. By compiling from source, my own version of LEDE, and pulling Zerotier from

`src-git zerotier https://github.com/mwarning/zerotier-openwrt.git`,

shouldn't I end up with the latest version of Zerotier?

[2018-12-23 10:36] mwarning commented on #46
You will end up with the latest version of ZT for that release. OpenWrt 18.06.1 has ZT 1.2.8. Lede 17.01.6 comes with ZT 1.1.14.

In this case, to back port ZT is not trivial, since some dependencies would need to be updated as well.

[2018-12-23 10:47] SuoaJ commented on #46
Understood. Thanks.

[2018-12-23 10:47] #46 closed

[2018-12-23 21:17] barbabob commented on #38
On Sat, Dec 22, 2018 at 04:19:48PM -0800, Moritz Warning wrote:

'ztbpafrgg3'  on all devices (DIR-505 running openwrt) and even on
a Raspberry Pi (1&3 running raspbian).

No. It gets hardly used because the main purpose of zerotier is
emergency backdoor access.  It has to be reliably present.
At the moment I set the mtu by a cronjob every few minutes.
I need that cronjob anyway because the zeroti

[2018-12-29 02:42] paulzhn opened #47 "Could bind to the port 9993@Openwrt 18.06, WNDR3800"
When I tried `zerotier-cli listnetworks`, it turned to `Please check that the service is running and that TCP port 9993 can be contacted via 127.0.0.1.`
There were no anything else to bind this port.I have no idea what's wrong.

[2019-01-02 20:18] evilgreen opened #48 "'option interface' meaning"
Just a quick question - what is the meaning of
`option interface 'wan'` ?
Is this just a reference to Internet-facing interface which should be used by the client?
So, if one has the interface named wan1 and/or wwan then the desired name should be there?

[2019-01-02 21:36] mwarning commented on #48
This was meant to restart ZT when then interface status changes. For example if you pull the WAN cable and attach another one. This option was removed now. I do not think it is needed anymore.

[2019-01-02 21:36] #48 closed

[2019-01-03 11:01] evilgreen opened #49 "local.conf usage"
I would like to use local.conf to disable some interfaces, etc. Currently this file will be lost with service disable/enable. Any recommendations?

[2019-01-03 20:38] evilgreen commented on #49
this one:
https://www.zerotier.com/manual.shtml#4_2

[2019-01-03 21:12] mwarning commented on #49
I see. The option seem to be missing. Feel free to submit a patch to github.com/openwrt/packages

[2019-01-04 09:50] evilgreen commented on #49
Sorry, I'm not that good in programming to do this myself.

[2019-01-04 19:56] evilgreen opened #50 "'ifstatus ZT0' shows no IP"
Currently 'ifstatus ZT0' shows no IP.
As a result (I suppose) it is not possible to start _dropbear_ explicitly on ZT0 as it cannot obtain an IP address of the interface. There is also a cosmetic problem with no IP shown for ZT0 in the Interfaces section.
Will it be possible to fix that?

[2019-02-02 14:05] helio58 opened #51 "Every time I reboot new Address"
Hi,
Every time I reboot the router getting a new address in my.zerotier.com
Is there a way to have it persistent ?
Thanks

[2019-02-03 05:03] kbumsik commented on #51
I'm having exactly same issue now. It did not happen until recently.
After reboot, the zerotier-one client creates a new Zerotier address so Zerotier recognizes it a new device.
Everything else work fine.

[2019-02-03 07:03] helio58 commented on #51
I m using OpenWrt 18.06.1, r7258-5eb055306f  , Linux OpenWrt 4.14.63 #0 Wed Aug 15 20:42:39 2018 mips GNU/Linux

[2019-02-03 08:08] helio58 commented on #51
@kbumsik I think I have it working. Here is what I did.
/etc/init.d/zerotier stop
vi /etc/config/zerotier
in the config I add "   option secret 'generate'   "
save and
/etc/init.d/zerotier start
reboot
Now I got the same address. :)

[2019-02-03 11:46] mwarning commented on #51
Hi,
 " option secret 'generate' " creates a new key. But the magic value 'generate' was removed in recent openwrt packages. Now key generation is triggered by an empty/missing key.
You might be able to set the IP address and MAC address of the device by using `/etc/config/network`:
[code]
Not sure if this works. I haven't had time for this package lately.

[2019-02-03 18:31] mwarning commented on #51
@helio58 did my config line above work?

[2019-02-25 14:28] helio58 commented on #51
@mwarning Sorry miss your message. I did not use your line. Thanks

[2019-02-25 14:30] mwarning commented on #51
ok, but what did you do to solve your issue?

[2019-02-25 16:22] helio58 commented on #51
This was what i did
/etc/init.d/zerotier stop
vi /etc/config/zerotier
in the config I add " option secret 'generate' "
save and
/etc/init.d/zerotier start
reboot
Now I got the same address. :)

[2019-02-25 16:30] mwarning commented on #51
hm, ok. that looks like the default configuration. (Although I removed the magic 'generate' value in the current version)

[2019-02-25 16:31] #51 closed

[2019-02-25 19:23] helio58 commented on #51
@mwarning Update. Refresh the router install your package follow the wiki . Works now 100%
Thanks

[2019-03-11 22:03] Mirodin opened #52 "No zt0 interface"
Some details first:

- Router: NETGEAR WNDR3700v4
- Firmware: OpenWrt 18.06.1 r7258-5eb055306f / LuCI openwrt-18.06 branch (git-18.228.31946-f64b152)
- Kernel: 4.9.120

Problem:

There is no zt0 interface after following instructions.

How to reproduce:

I followed the instructions from the wiki page (https://github.com/mwarning/zerotier-openwrt/wiki). After rebooting my router I could ping it fro

[2019-03-12 08:07] Mirodin commented on #52
Ah, I found my mistake. Zerotier does not create a interface zt0 but some `zt<random chars>` which I did not identify at first. Sorry for that.

[2019-03-12 08:07] #52 closed

[2019-03-12 14:05] mwarning commented on #52
:-)

[2019-03-12 14:11] mwarning commented on #52
I have updated the docs.

[2019-03-12 14:14] Mirodin commented on #52
Thanks, that might prevent others from tripping as well :)

[2019-04-16 13:46] sijnak commented on #47
I'm all but an expert neither on OpenWRT nor Zerotier, but it seems that you need to enable (for autostart at boot time) and start the zerotier service :

[code]

[2019-04-16 19:18] mwarning commented on #47
I would agree with @sijnak. ZT does not start by default.

[2019-04-16 19:18] #47 closed

[2019-04-24 12:49] ogarcia opened #53 "Add 9993 port rule in the wiki How-To"
I think that in wiki how-to must have an entry about "open" ZeroTier port, simply add the following section in `/etc/config/firewall`

[code]

In other hand, now the zerotier interface has not `zt0` as its name. Since [version 1.2.6][1] it have a `ztXXXXXXXX` pattern :wink: (Device names are now generated deterministically based on network IDs)

[1]: https://github.com/zerotier/ZeroTierOne/blob/ma

[2019-04-24 13:25] mwarning commented on #53
I've added it to the wiki.
If you like, I can give you access to the wiki and you can organize it as you like. It certainly needs to love.

[2019-04-24 13:25] #53 closed

[2019-04-24 14:38] ogarcia commented on #53
Ok. I'll give some love :heart:, but calmly, because a great power carries a great responsibility :joy:

[2019-04-24 14:53] mwarning commented on #53
@ogarcia You should have access now (I think that also included commit access - speaking of great responsibility.. :-P).

[2019-05-27 09:02] shengzhexue opened #54 "collect2: error: ld returned 1 exit status"
Hi , mwarning , I use openWRT 15.05.1(Chaos Calmer) , the chip architecture is arm_cortex-a7 32bit, The platform is ipq4028 , zerotier version is 1.1.2 , I get the following error:
/home/zhang/work/ipq4028/qca-networking-2016-spf-3-0_qca_oem.git/qsdk/staging_dir/toolchain-arm_cortex-a7_gcc-5.2.0_uClibc-1.0.14_eabi/lib/gcc/arm-openwrt-linux-uclibcgnueabi/5.2.0/libgcc_eh.a(unwind-arm.o): In function

[2019-05-27 09:33] mwarning commented on #54
You might want to use the new package here and build that for OpenWRT 15.05.1.

[2019-05-27 09:42] shengzhexue commented on #54
i use  the lastest   version(1.2.10-1) and get following  error:

controller/EmbeddedNetworkController.o controller/EmbeddedNetworkController.cpp
In file included from controller/../osdep/OSUtils.hpp:58:0,
from controller/EmbeddedNetworkController.hpp:39,
from controller/EmbeddedNetworkController.cpp:40:
controller/../osdep/../ext/json/json.hpp:67:10: error: #error "unsupported GCC version - see h

[2019-05-27 10:15] mwarning commented on #54
Ah, right. hm, that is a tricky one.

[2019-05-27 10:24] mwarning commented on #54
I just tried to compile "OpenWRT 15.05.1", but my host system is too new.
Please consider to update to OpenWrt 18.06.2.

[2019-05-27 10:24] #54 closed

[2019-06-16 18:54] internetxhora commented on #51
Hi, in conclusion how can I fix this reboot issue on current openwrt version?
Thanks in advance.

[2019-06-17 06:47] ogarcia commented on #51
@internetxhora simply follow the wiki

[2019-06-17 11:05] mwarning commented on #51
I do not think the wiki helps here.
@internetxhora is there a secret set in your `/etc/config/zerotier`?

[2019-06-17 22:12] internetxhora commented on #51
Yes I´m using secret = ´generate´, but everytime gl-ar750 router reboots, it gets a new ip so I have to login to zerotier and authorize it.

Enviado desde Correo<https://go.microsoft.com/fwlink/?LinkId=550986> para Windows 10

________________________________
De: Moritz Warning <notifications@github.com>
Enviado: Monday, June 17, 2019 6:05:23 AM
Para: mwarning/zerotier-openwrt
CC: internetxhora; M

[2019-06-17 22:59] mwarning commented on #51
@internetxhora please to not use that `generate` special secret key. It was a bad idea. The startup script will generate a key and save it in /etc/config/zerotier if there was no secret set (or it is empty).
Btw., what zerotier version do you use?

[2019-06-17 23:06] internetxhora commented on #51
1.2.8-2

[2019-06-18 07:16] ogarcia commented on #51
@internetxhora as say @mwarning simply remove the line `option secret = 'generate'` in `/etc/config/zerotier`. Next reboot your router and look again in `/etc/config/zerotier`, you must have a new secret line but with a long id, something like `option secret '6b3a5d8678:0:verylooooongline`. Make sure that you have this line in your config before login to zerotier and authorize. It's the unique way

[2019-06-18 19:47] internetxhora commented on #51
Thank you very much, that fixed the problem.

Enviado desde Correo<https://go.microsoft.com/fwlink/?LinkId=550986> para Windows 10

________________________________
De: Óscar García Amor <notifications@github.com>
Enviado: Tuesday, June 18, 2019 2:16:51 AM
Para: mwarning/zerotier-openwrt
CC: internetxhora; Mention
Asunto: Re: [mwarning/zerotier-openwrt] Every time I reboot new Address (#51)

@inte

[2019-07-04 11:21] ogarcia opened #55 "Backup config file on package reinstallation"
Today I upgraded my router from _18.06.2_ to _18.06.4_. After the upgrade I install zerotier package and it overwrite `/etc/config/zerotier` instead of call to `resolve_conffiles` and place the default config file as `/etc/config/zerotier-opkg`.

Is important to fix this because in config file is stored the secret key and if the user don't have a backup may have a big problem.

[2019-07-04 11:45] ogarcia commented on #55
More info: The directory `/etc/zerotier` is not added to backup. I know that is an optional directory, but as default config directory I think that must be included in backups, or at least, put a big warning in default config file that these directory does not enter in system backups.

[2019-07-04 11:57] ogarcia commented on #55
For fix the `/etc/config/zerotier` overwrite I think that simply need to add the following to Makefile.
[code]

[2019-07-04 12:10] mwarning commented on #55
Agreed, that is important. Do you like to submit to https://github.com/openwrt-routing/packages ?

[2019-07-04 14:07] mwarning commented on #55
ok, I made a PR: https://github.com/openwrt/packages/pull/9391

[2019-07-04 20:26] #55 closed

[2019-09-08 13:04] mrschyte opened #57 "Persistent config is not working if /var/lib is not pre-created"
The config_path option tries to symlink the persistent config folder into /var/lib/, however this path might not exist when the script is run (this depends on whether a different service has already created it or not, since /var is symlinked to /tmp on OpenWRT).

The init script should contain a similar line like below (ensure that the symlink target exists):

        # Create link from CONFIG_PAT

[2019-09-08 15:05] mwarning commented on #57
thank, I was not aware that this is an issue.

[2019-09-08 15:24] mwarning commented on #57
See https://github.com/openwrt/packages/pull/9937

[2019-09-10 05:19] webradio opened #58 "installing on OpenWrt 18.06.4"
I wonder if I can install zerotier from package on openwrt 18.06.4 mipsel_24kc

LuCI didn't show zerotier under available packages. So I ` wget http://downloads.openwrt.org/releases/18.06.4/packages/mipsel_24kc/packages/zerotier_1.2.12-2_mipsel_24kc.ipk`

Then `opkg install zerotier_1.2.12-2_mipsel_24kc.ipk`:
     * satisfy_dependencies_for: Cannot satisfy the following dependencies for zerotier:

[2019-09-10 07:14] mwarning commented on #58
You need to do run "opkg update" first. Then "opkg install zerotier".

[2019-09-11 13:42] webradio commented on #58
Sure enough, it helped. Thanks!
Did something happen recently? I ran `opkg update` last week (looking for relayd) and assumed that the package info is up to date since then.

[2019-09-11 14:11] mwarning commented on #58
Not that I know of. But the packet database will be lost after reboot.

[2019-09-11 14:11] #58 closed

[2019-09-12 01:20] EricZimmerman opened #59 "GL-MT300N-V2 build?"
i have a GL-MT300N-V2 running virtual here cloudhub firmware which is LEDE/openwrt based afaik. When i look at the opkg feeds it shows this:

http://downloads.openwrt.org/snapshots/targets/ramips/mt76x8/packages

is it possible to get a built that works for this device?

[2019-09-12 07:26] mwarning commented on #59
That directory is for kernel modules only.
You have to look here: http://downloads.openwrt.org/snapshots/packages/mipsel_24kc/packages/

Anyway, you probably want to do this:
[code]

[2019-09-12 07:26] #59 closed

[2019-09-18 03:39] bitsly opened #60 "Can zerotier-openwrt be used as a moon server?"
I am using version 1.1.x now, but I did not find command  such as`zerotier-idtool initmoon` and `zerotier-idtool genmoon` on it.

Can zerotier-openwrt be used as a moon server?  Whether to support it on version 1.2.x ？

[2019-09-21 15:52] bitsly commented on #60
I update my openwrt to version 18.06.4 and use opkg install zerotier version 1.2.12. I find command `zerotier-idtool initmoon` and `zerotier-idtool genmoon` on it.  so zerotier version 1.2.12. can be used as a moon server.

[2019-09-21 15:52] #60 closed

[2019-09-21 15:57] mwarning commented on #60
great to hear :)

[2019-09-22 20:08] ezar opened #61 "Router without WAN?"
Hi,
Can I use this config (https://github.com/mwarning/zerotier-openwrt/wiki) to reach LAN-IPs (192.168.1.0/24) if we dont use OpenWRT as a Router?

I have a company router at 192.168.1.1 and OpenWRT AP LAN connection at 192.168.1.10.

Regards,

[2019-09-22 21:16] mwarning commented on #49
The configuration allows to set a local configuration file now:
https://github.com/mwarning/zerotier-openwrt/commit/38b12f8e30efdfd0ff80ac52e412922cbd7b8241#diff-6e49885baa4a91cc12f962515e39f40cR11

[2019-09-22 21:16] #49 closed

[2019-09-22 21:25] mwarning commented on #61
yes, you should be able to bridge the zerotier interface to the port of your openwrt router and let the other router in your network distribute IP addresses. If I understand you correctly that is.

[2019-09-23 06:42] ezar commented on #61
I open 9993 UDP port at 192.168.1.1 and redirect to 192.168.1.10.
In 192.168.1.10 I make all wiki configurations, but when I connect to zerotier I cannot see 192.168.1.0/24 IPs.

I only see
daemon.err zerotier-one[1840]: connect: Connection refused

Can you have ideas?

[2019-09-23 08:24] ezar commented on #61
Do I need to enable Bridging?

[2019-09-23 08:41] mwarning commented on #61
@ogarcia do you understand the scenario?

[2019-09-23 09:12] ezar commented on #61
I'm trying to explain....

Router WAN - LAN: 192.168.1.1  (internet company router). Here I redirect 9993 UDP port to 192.168.1.10
OpenWRT (configured for AP wifi): 192.168.1.10. Here I install zerotier using the wiki manual. zt network works.

At this situation,
If I connect a phone to zerotier network, I can access to 172.28.28.1 (openwrt IP at zerotier), and I can access to 192.168.1.10 (openwr

[2019-09-23 10:17] ogarcia commented on #61
@ezar you must define a route in ZeroTier Central: 192.168.1.0/24 vía 172.28.28.1 (OpenWRT IP at ZeroTier)
Next you must sure that you have defined a vpn zone attached to zerotier interface and with forward enabled from and to lan.

[2019-09-23 13:58] ezar commented on #61
@ogarcia I set it up by following your fantastic manual.
ZeroTier config:
![image](https://user-images.githubusercontent.com/42736/65431843-66fec780-de1a-11e9-96d5-bc3c97f58bfd.png)

OpenWrt config:
![image](https://user-images.githubusercontent.com/42736/65432054-d5dc2080-de1a-11e9-8ace-5681fb9c147e.png)

I change to 172.22.22.1 for testing.

Using iPhone 4G connected to ZeroTier I can only make

[2019-09-23 14:29] ogarcia commented on #61
Is strange, you have all configured well. Your ZeroTier network is linked with ztXXXX interface?
In `/etc/config/network` is something like this:
[code]

[2019-09-23 14:30] ogarcia commented on #61
Because I suppose that you can ping your machines from your OpenWRT router

[2019-09-23 17:48] ezar commented on #61
Yes!

[code]

[2019-09-23 17:49] ezar commented on #61
Yes.
![image](https://user-images.githubusercontent.com/42736/65449426-43984480-de3b-11e9-8d92-13e710ac9d57.png)

[2019-09-25 07:17] ogarcia commented on #61
I have no idea that can be failing. All is well configured. :disappointed:

Can you try using a PC instead an iPhone as client? To execute `ip route` and `tracepath`.

[2019-12-22 23:19] denibertovic opened #62 "Updating zerotier version"
Hey thanks for this. :cake:

I was wondering what would be the correct path to upgrade the zerotier version available in the official package list?

Currently it's 1.2.12. but that's over a year old. The current release https://github.com/zerotier/ZeroTierOne/releases seems to be 1.4.6.

[2019-12-22 23:23] denibertovic commented on #62
Hmm seems to have been already updated here: https://github.com/openwrt/packages/pull/10015

[2019-12-22 23:23] #62 closed

[2019-12-28 09:59] Tennyleaz commented on #62
Opkg packages still has 1.2.12 be the latest package. How could I find a newer version ipk file?

[2019-12-28 11:59] mwarning commented on #62
The newest version is in the master branch. I will sync it with the repository of the upcoming OpenWrt 19.07 release.

[2020-01-06 06:46] Tennyleaz opened #63 "Go offline after some time, can't be online again."
I am using zerotier 1.4.6 on openwrt x86 19.07.0 rc2.

I was able to setup and connect to zerotier server at my first setup. After a few days, zerotier shows offline like:

[code]

I could install zerotier-one on Windows PC and successfully connect to my network id, in the same local network.

I tried rebooting openwrt router, run `zerotier-cli leave 9bee8941xxxxxxxx` and join again, but still sho

[2020-01-06 08:30] mwarning commented on #63
It would help if someone could confirm that problem.

[2020-01-22 15:28] ogarcia commented on #63
@Tennyleaz Check that you have open 9993 port in UDP for your ZeroTier interface

[2020-02-07 23:53] MohammadOmara opened #64 "Openwrt is inaccessible after rebooting (after configuring ZeroTier)"
I followed all the steps in this [link](https://github.com/mwarning/zerotier-openwrt/wiki#configure-zerotier-on-your-openwrt-router-using-uci) to install ZeroTier on my openwrt. Yet, when I reached the first (reboot) step, I rebooted then the router became completely inaccessible, neither over Wi-Fi nor over Ethernet. Any reason??

[2020-02-08 00:15] mwarning commented on #64
What version of Zerotier do you run?

@ogarcia: does the problem sound familiar by any chance?

[2020-02-08 00:23] MohammadOmara commented on #64
@mwarning Unfortunately I can't access the openwrt to check .. but I'm using a GL-iNet router with openwrt 18 and I just download ZeroTier 1 hour ago from gl-inet repos. It should be the latest I guess.

[2020-02-08 09:50] ogarcia commented on #64
Mmmm. @MohammadOmara maybe you configure a route or IP range in https://my.zerotier.com that have conflicts with your own network?

For example, if your router IP is 192.168.1.1 look that you not have a _Managed route_ for 192.168.1.0/24 and that the ZeroTier network have other range (for example 192.168.10.0/24).

[2020-02-08 15:16] MohammadOmara commented on #64
My router has 2 WiFi interfaces .. the first one is having this pool 192.168.8.0/24 and the second one is having this pool 192.168.9.0/24 .. while my ZeroTier IP range is 10.147.17.X

On a different router (D-Link DWR-921), I managed to reboot the router then access the openwrt .. yet, when having the WAN as a landline DSL, I can remotely access the router .. but when having the WAN as 4G, the 4G

[2020-02-10 20:59] mlavelle42 commented on #64
I'm having the same problem installing on GL.iNet routers - followed procedure precisely and has locked up router consistently every time.

[2020-02-10 21:18] mlavelle42 commented on #64
More... When downloading zerotier, either from inside Luci or by command line, I get 1.2.8-2. But I notice that your reference sites 1.2.12-2. Which is right?

[2020-02-10 22:02] mwarning commented on #64
The newest version for OpenWrt snapshot and 19.07 are at ZeroTier 1.4.6. OpenWrt 18.06 is at ZeroTier 1.2.12.

[2020-02-12 21:33] mwarning commented on #64
@MohammadOmara can you try OpenWrt master/snapshot? So we can narrow down the problem.

[2020-03-02 11:47] PieBru opened #65 "Followup after installation with 19.07.1"
Hi all, I just successfully installed ZeroTier on my Gl.Inet AR150 box with OpenWrt 19.07.1, here is my contribute on how to improve the installation doc, which indeed was very useful to me.

1. `The zerotier.openwrt_network.secret is the content of /var/lib/zerotier-one/authtoken.secret.` is not true in my 19.07.1, as `zerotier.openwrt_network.secret` is a long hex like `666991a7d9:0:3f73787c206a

[2020-03-02 11:53] mwarning commented on #65
I can give you access to the wiki if you like to add it yourself. Would that be ok?

[2020-03-02 15:12] ogarcia commented on #65
Is good idea add this info but with a BIG WARNING that says that only apply to GL.inet devices that have a non standard OpenWRT.
For example, the point 4 does not apply to standard OpenWRT. I have confired as `Unmanaged` in several devices (Linksys, TP-Link, etc...)

[2020-03-02 15:16] mwarning commented on #65
@ogarcia isn't this only specific to OpenWrt 19.07.x maybe?

[2020-03-02 15:27] ogarcia commented on #65
@mwarning I think that is specific to GL.inet devices, because with 18.06.x and 19.07.x it works perfect with `Unmanaged`

About point 1: FIXED. Must have been a copy/paste error, the correct file is `/var/lib/zerotier-one/identity.secret` not `authtoken.secret`

[2020-03-02 15:39] mwarning commented on #65
Alright.

[2020-03-02 15:39] #65 closed

[2020-03-02 16:07] PieBru commented on #65
Sorry for re-opening, feel free to re-close!

@ogarcia I think my Openwrt is quite "standard", it's the official [OpenWrt firmware for GL-AR150](http://downloads.openwrt.org/releases/19.07.1/targets/ath79/generic/openwrt-19.07.1-ath79-generic-glinet_gl-ar150-squashfs-sysupgrade.bin).

Here is the 19.07.1 `Firewall - Traffic Rules - Allow-ZeroTier-Inbound ` ZT form of the above firmware, as you can

[2020-03-02 17:19] PieBru commented on #65
Got it! I was fooled by the `Unmanaged` interface display on the OpenWrt 19.07.1 WEB UI.

OpenWrt `Unmanaged` network interfaces does not show their IP address, even if it's acquired as shown by `ip a | grep 'inet '`
[code]

To avoid similar traps, IMO the wiki should report that the ZeroTier interface IP may show on the OpenWrt WEB UI, and recommend to check it **only** using the CLI.

Thanks,
Pi

[2020-03-02 18:03] ogarcia commented on #65
Ok. I see the problem, the `Network -> Firewall -> Traffic Rules` changes from OpenWrt 18.06 to OpenWrt 19.07. In 18.06 you have a section `Open ports on router` with `External port` but this page has radically different in 19.07. I add a new entry in the wiki with this info and a BIG warning that says that the Unmanaged network interface does not show its own IP address :wink:

[2020-03-09 18:15] evilgreen opened #66 "how to detect IP address assignment"
Is it possible programmatically detect the IP address assignment to ZeroTier device?
I was thinking about something similar to checking IFUPDATE_ADDRESSES variable available in _iface_ hotplug script. Currently the last ZeroTier event I can catch happens before the Internet connection is established which means that there is no IP on ztxxxxxxxx yet:

[code]

Obviously one can run _zerotier-cli_ (o

[2020-03-10 14:02] mwarning commented on #66
I would go with a hotplug script. Keep in mind that there are different hotplug directories in `/etc/hotplug.d`.
See https://openwrt.org/docs/guide-user/base-system/hotplug

[2020-03-10 18:15] evilgreen commented on #66
Hotplug does not work here, at least for me, that is what I started from. As noted earlier, the last hotpug event happens much earlier than the Internet connection is established and IP address assigned to ztxxxxxxxx device. In other words, the 'ifup' below does not mean that the IP address is assigned:
`hotplug (iface): action='ifup' interface='ZT0'`

[2020-03-11 12:28] mwarning commented on #66
ok, then I do not know what to do. Maybe ZT supports some kind of notifications...

[2020-03-11 19:27] evilgreen commented on #66
It looks like the notification mechanism is available internally, see example in [5.1.4 Handling events](https://www.zerotier.com/manual/#5_1_4)
[code]

Don't know how to use this though.

[2020-03-26 17:08] bradleydiggs opened #67 "Joining a moon not preserved across reboots"
When joining a moon using **zerotier-cli orbit moonid moonid** it works perfectly, and even creates the **moons.d** directory inside of **/var/lib/zerotier-one** and places the received **.moon** file in there (so all is well).  However, since it appears most of this is created each time, it is therefore missing upon reboot, meaning you must re-issue the orbit command on the next boot to get it to

[2020-03-26 17:49] mwarning commented on #67
The config file does not support moons, but feel free to add support and submit a pull request.
(sorry, I don't have much time)

[2020-03-26 19:14] bradleydiggs commented on #67
No problem!  Good to know.  Thank you so much for the response.  I'm not much of a programmer, unfortunately - but I was able to get it "good enough" by adding (with my moon ID's) to the /etc/rc.local file:

`sleep 300`
`zerotier-cli orbit moonid moonid`

Thank you SO much for the OpenWRT port of this.  It's invaluable.

[2020-03-26 20:04] ogarcia commented on #67
@bradleydiggs you can set in `/etc/config/zerotier` an option `config_path` to store persistent data. For example:
[code]

With above config you have set a directoy `/etc/zerotier` where all data is stored and persist across reboots. Next you simple do the `zerotier-cli orbit moonid moonid` once and it works forever :wink:

[2020-03-26 22:22] mwarning commented on #67
Ah, right! That should work. :D

[2020-03-26 22:22] #67 closed

[2020-03-28 14:32] bradleydiggs commented on #67
Works perfectly!!  For anyone reading just be sure to mkdir the **config_path** directory ahead of time because it appears to symlink over to it but won't actually create it for you.  Once you do that everything works automatically!!  Thanks guys!!  :)

[2020-04-11 18:07] dogoepp opened #68 "IPv6 support"
Hi, and thanks for your work packaging ZeroTier for OpenWRT.

I just got it to work on a new router, but I have the impression that there is no support for IPv6 within the ZeroTier network.

I'm rather a beginner in the networking domain, so I might have missed something. However, I searched through the knowledge base of ZeroTier, the issues here and on the internet, finding nothing.

Technical in

[2020-04-11 19:34] mwarning commented on #68
ZeroTier supports IPv6. Please provide more details on what is missing / not working for you.

[2020-04-12 09:30] dogoepp commented on #68
You're right, and sorry, I gave too little context.

On my laptop I both get an IPv6 and an IPv4 from ZeroTier, and I can reach other nodes on the ZeroTier network either with their IP v4 or v6. Here is what an `ip address` gives:
[code]
(I hope I did not redact too much. Again, I don't really know what kind of information should be protected here.)

However, on the router, the ZeroTier interface

[2020-04-12 10:59] ogarcia commented on #68
@dogoepp by default ZeroTier works well with IPv6 in OpenWRT, but is possible that you have disabled all IPv6 support in your router if your ISP doesn't support it

Anyway not is necessary to have IPv6 in your wan interface to have it on ZT so check if you have enabled IPv6 support in your router

[2020-04-13 09:12] dogoepp commented on #68
I don't know how to enable or disable IPv6 on OpenWRT (despite searching the documentation) but a reset of all settings to default settings for OpenWRT does not bring IPv6.

May I ask how to check whether IPv6 is enabled ? I know that it's more of an OpenWRT question than ZeroTier-OpenWRT one so if you prefer I'll ask on their forum.

[2020-04-13 10:49] ogarcia commented on #68
@dogoepp to enable or disable IPv6 in OpenWRT there are several ways. Frist see that you have IPv6 modules loaded in your kernel with `lsmod` command. You must see thinks like _nf_conntrack_ipv6_ or _ip6_tables_.

Look into `/etc/rc.local` and if you have lines like `net.ipv6.conf.all.disable_ipv6` or `net.ipv6.conf.default.disable_ipv6` comment it.

The most important thing is that the command `i

[2020-04-13 12:49] dogoepp commented on #68
Thanks for the pointers. I do have modules for IPv6 loaded, including *nf_conntrack_ipv6* and *ip6_tables*.

Also, my `/etc/rc.local` file has no line like the ones you mention.

Finally, here is the output of `ip -6 a`:
[code]

So I assume that it's not about the router having IPv6 disabled.

[2020-04-13 13:25] ogarcia commented on #68
@dogoepp look in ZeroTier Central (my.zerotier.com) that in your network you have enabled (cheked) _ZeroTier 6PLANE (/80 routable for each device)_ to assing IPv6 to every device and make sure that your OpenWRT device has assigned an IPv6

In the other hand. Version 1.2.8 of zerotier is quite old, maybe you must update it to 1.2.12 or (better) 1.4.6

[2020-04-13 14:56] dogoepp commented on #68
I had *RFC4193 (/128 for each device)* enabled. Is it preferable to use 6PLANE instead ?

Due to some NAND / NOR issues (as far as I understand) I cannot upgrade OpenWRT yet. It should be possible in the next release. is it possible nonetheless to install newer versions of ZeroTier on OpenWRT 18.06.1 ?

[2020-04-13 16:27] ogarcia commented on #68
6PLANE is the default in ZT, but it should be indifferent to use one or the other

Probably not since each version need its shared libs. You can try compile it for your ruter, but I don't recommend it.

[2020-04-14 09:29] dogoepp commented on #68
So, is it best to make stick with IPv4 for now and wait for the next release of OpenWRT, hoping that it fixes this for the AR750S ?

[2020-05-23 06:29] soccermitchy opened #69 "Setting allowManaged to false"
I'm trying to use ZeroTier to connect to my network with a layer 2 bridge vs a routed layer 3 network. When I did `zerotier-cli set [networkId] allowManaged=0`, it was set successfully, however the setting was removed on reboot. Is there a way to set this setting and have it persist across reboots?

[2020-05-25 13:49] ogarcia commented on #69
@soccermitchy see [this][1]

[1]: https://github.com/mwarning/zerotier-openwrt/issues/67#issuecomment-604656259

[2020-06-05 08:58] #69 closed

[2020-06-05 09:00] #68 closed

[2020-06-05 09:02] mwarning commented on #66
I do not think we find a solution here. Maybe open a ticket at github.com/zerotier?

[2020-06-05 09:02] #66 closed

[2020-06-05 09:02] mwarning commented on #18
I think the question is outdated by now. I hope the issue has been resolved.

[2020-06-05 09:02] #18 closed

[2020-06-05 09:03] #31 closed

[2020-06-05 09:05] mwarning commented on #37
Please open another ticket for the huawei HG255d if it is still present.

[2020-06-05 09:05] #37 closed

[2020-06-05 09:06] mwarning commented on #38
Feel free to reopen the issue if the problem is not solved yet.

[2020-06-05 09:06] #38 closed

[2020-06-05 09:07] mwarning commented on #61
Any updates?

[2020-06-05 09:11] mwarning commented on #50
The problem seems to be that ZT is started after dropbear. You could maybe use iptables to block any access to dropbear except by the address range used by ZT. Or you move ZT and dropbear into the same linux network namespace.

I assume this issue has gotten too old. So I going to close it. Feel free to reopen it if the problem persists.

[2020-06-05 09:11] #50 closed

[2020-06-05 09:11] #64 closed

[2020-06-05 19:23] ezar commented on #61
No. I cannot resolved it

[2020-06-07 20:07] fundef1 opened #70 "L2 Bridge to LAN"
Hi, I have an unusual openwrt setup and can't get zerotier to bridge into my lan.
Hope you guys can help me out.

Config prior to installing ZT.
providerrouter@10.0.0.1-wrt@10.0.0.2-LAN:10.0.0.0/16
wrt runs DNS/DHCP and declares 10.0.0.1 as gateway.
wrt only has a br-lan interface bridging *all* ports/wifi together and also runs a transparent firewall using iptables and --physdev to identify the p

[2020-06-08 07:01] ogarcia commented on #70
As I can read, you have defined your network as `10.0.0.0/16`, but your zt network as `10.0.0.0/15`, this does not have much impact if your IPs are always `10.0.x.x`, but only for make sure that not is having some strange.

From your router you can ping ZT and LAN?

[2020-06-08 07:03] ogarcia commented on #61
@ezar can you try using a PC as client?

[2020-06-08 07:56] fundef1 commented on #70
thanks for the comment. I thought the recommendation was to set the managed route 'one larger' , but to be honest i'm not entirely clear on what the managed route on the ZT portal accomplishes here.

' FAQ
Why is the Managed Route /23 and the LAN subnet /24?

Say you have a laptop that is on the ZeroTier network and you bring it home. Now it’s WiFi address and ZeroTier address are in the same subn

[2020-06-08 07:56] #70 closed

[2020-08-03 10:15] Andy589 opened #71 "Wiki Instructions update for identity.secret"
I’ve found that if you don’t run this command after the first reboot a new ZT address is created and needs to be re-auth after every reboot.

`uci set zerotier.network.secret="$(cat /var/lib/zerotier-one/identity.secret)"`

It took me several weeks of digging through various websites to figure that one out and it may be good to add it to the wiki.

[2020-08-03 10:38] mwarning commented on #71
That should be done automatically: https://github.com/mwarning/zerotier-openwrt/blob/master/zerotier/files/etc/init.d/zerotier#L62

But maybe there is something broken..

[2020-08-03 10:42] ogarcia commented on #71
@Andy589 if you read the wiki it says:

Anyway just now I add a warning to remember to double check this point :wink:

[2020-08-03 12:39] ogarcia commented on #71
Or maybe Andy589 overwritten the config file by error. I cannot reproduce the issue, but anyway with the new note in the wiki I think that can close this ticket.

[2020-08-03 14:11] Andy589 commented on #71
I follow the wiki to the T. I’ve done it on several routers and have the same result every time. For reference I’ve been installing the package on GL iNet routers running openWRT 18.06.

[2020-08-04 06:42] ogarcia commented on #71
@Andy589 seems that GL iNet devices has not a standard OpenWRT firmware, there is a lot of strange bugs with these devices :shrug:

[2020-08-04 09:48] mwarning commented on #71
@Andy589 what OpenWrt release do you use? 18.06.7?

[2020-08-04 11:12] Andy589 commented on #71
Correct, it just seems that they put a “coat of paint” on top of openWRT as the underlying system is still complete and accessible to my knowledge.

OpenWrt 18.06.1
Kernel 4.9.120

[2020-08-04 14:19] mwarning commented on #71
I inspected their zerotier package. It is Zerotier 1.2.8 and the init script uses `option secret 'generate'` to indicate that the secret need to be generated:

https://github.com/openwrt/packages/blob/35e0b737ab496f5b51e80079b0d8c9b442e223f5/net/zerotier/files/zerotier.init#L48

This approach was rather fragile.

[2020-08-04 14:19] #71 closed

[2020-08-21 07:14] ogarcia opened #72 "Improve ZT config file"
To avoid discuss over commits, better use this issue. Related to https://github.com/zerotier/ZeroTierOne/issues/1240

### Current status
Current config file have the following options:
[code]

### Proposal
Instead of use a list of networks use a list of configs to have named networks and can use commands `join` and `leave`

[code]

### Benefits of proposal
* Is more easy to understand? :thinking:

[2020-09-03 09:53] mwarning commented on #72
Sorry for the delay. I will look into this again this weekend.

[2020-09-06 19:14] wulfy23 opened #73 "arp on br-lan for zerotier servers"
howdy... user requested adding this to my community build... doing some testing...

noticing some unusual arp requests on br-lan...

103.195.103.66 dev br-lan  FAILED
207.246.73.245 dev br-lan  FAILED
147.75.92.2 dev br-lan  FAILED
50.7.252.138 dev br-lan  FAILED
195.181.173.159 dev br-lan  FAILED
185.180.13.82 dev br-lan  FAILED

[2020-09-06 19:57] mwarning commented on #73
I do not really know what to do here. It might be some problem introduced by architecture or system. So I would pass that to upstream (wink @glimberg).
Anyway, it looks like the zerotier interface is bridged to br-lan and then traffic for the Internet is routed over this. Not sure if this is normal.

[2020-09-07 01:30] glimberg commented on #73
This might be from ZT trying to discover paths to other nodes. ZeroTier constantly tries to find the best paths between nodes.

[2020-09-07 02:25] wulfy23 commented on #73
alright then... thanks for the timely responses... i'll play around a little more... if there is any VL2 MTIM implications i'll report back... cheers.

[2020-09-12 21:19] mwarning commented on #72
It seems to be a good idea in general, to attach a human readable name to a network id.

But I do not know if switching between different networks is a common practice with ZT. I have only use ZT with one network so far. If it is, then I would give feature a go. Otherwise, I would advise people to use the ZT command line interface or to script something.

[2020-09-12 22:56] glimberg commented on #72
From our experience running, and operating ZeroTier, switching between different networks is not commonplace. Especially since ZeroTier can join multiple networks at once.  It's more of a set it & leave it going all the time thing.

[2020-09-13 09:49] ogarcia commented on #72
As say @glimberg switching between different networks not is a common practice. Is more common up an instance and join (with same ID) in multiple networks at once.

I think that better of implement the proposed change is modify the `start_instance()` to can do `/etc/init.d/zerotier start_instance instance_name` by hand. This change only need move the logic of `section_enabled` from `start_instance

[2020-09-13 13:56] mwarning commented on #72
Ok, that settles it. I will close the issue.

@ogarcia we can implement that another day. Or feel free to submit a merge request.

[2020-09-13 13:56] #72 closed

[2020-09-18 01:31] chirayu-patel opened #74 "Segmentation fault"
root@OpenWrt:/tmp# uname -a
Linux OpenWrt 4.4.60 #89 SMP PREEMPT Thu Sep 17 15:30:52 UTC 2020 armv7l GNU/Linux

The OS is QSDK which is based on Chaos Calmer (v15)

root@OpenWrt:/tmp# zerotier-cli info
Segmentation fault
root@OpenWrt:/tmp# zerotier-cli status
Segmentation fault

The zerotier process starts okay, but the above commands fail with segfault.

[2020-09-18 09:51] mwarning commented on #74
Zerotier is not available for chaos calmer(OpenWrt 15.05). Where did you get the package from? If it was build for a different release, then it is likely Zerotier won't work.

[2020-11-02 13:06] s9sa opened #75 "setting allowglobal"
May I know how to setup allowGlobal in config? The option is available in Android and Windows but I cannot find any guide for openwrt. Appreciated if you could guide me. Thanks

[2020-11-02 15:02] ogarcia commented on #75
Please see my comment: https://github.com/mwarning/zerotier-openwrt/issues/67#issuecomment-604656259

Using `config_path` you can add more config to config files.

[2020-11-21 00:28] laduke opened #76 "1.6"
Hey mwarning!
Really appreciate you maintaining this package. I hope it's not too much trouble for you.

https://github.com/zerotier/ZeroTierOne/releases/tag/1.6.0

I think my router can use the new AES acceleration feature, so I'm looking forward to it.

[2020-11-21 09:50] mwarning commented on #76
Thanks for the heads up.

https://github.com/openwrt/packages/pull/13971

I will have access to my test router on Monday.

[2020-11-21 17:54] mwarning commented on #76
@laduke it would be nice for some of the patches to go upstream. ;-)

[2020-11-26 03:23] openwrt-diy opened #77 "When using zerotier, I encountered a strange problem, please solve it!"
I have multiple routers, two of which have zerotier exit line VPN, and they are not WAN interface lines! I don't know where is the problem?

Router firmware system: OpenWrt-19.07
The version numbers of zerotier are as follows:
PKG_NAME:=zerotier
PKG_VERSION:=1.4.6
PKG_RELEASE:=1

[2020-11-26 07:30] ogarcia commented on #77
But, What is _exactly_ your problem? Please describe your setup, what is happening to you and what did you expect to happen.

[2020-11-26 09:16] openwrt-diy commented on #77
I hope that Zerotier uses the physical interface wan when connecting to the Internet, and not the virtual interface VPN.
When I log in to the background https://my.zerotier.com/network, I find that the Physical IP registered on my zerotier member device is the actual IP of the VPN account on my router.
I used a simple configuration:

`mkdir -p /etc/zerotier-one
uci del zerotier.sample_config
uci c

[2020-11-26 13:28] ogarcia commented on #77
If you do `ip route` what is your default route? (Something like this: `default via 192.168.1.1 dev pppoe-wan proto static`)

[2020-11-28 12:27] openwrt-diy commented on #77
After my self-examination, I found that the problem was in the firewall forwarding.

uci add firewall rule
uci set firewall.@rule[-1].name=Allow-ZeroTier-Inbound
uci set firewall.@rule[-1].src=*
uci set firewall.@rule[-1].target=ACCEPT
uci set firewall.@rule[-1].proto=udp
uci set firewall.@rule[-1].dest_ port=9993
uci commit firewall

[2020-11-28 12:28] #77 closed

[2020-11-30 07:48] Mackstoresdotcom commented on #76
openwrt 1043nd zerotier as gateway. 1000mbps lan . 100mbps internet both sides. win 10 both pcs, copy from server at openwrt site to remote (logmein ..11mbps) (zerotier 300kbps) tcp fallback false and peers show direct connection

[2020-11-30 07:55] mwarning commented on #76
@Mackstoresdotcom not sure what this has to do with issue. Please create a new one.

[2020-11-30 08:13] Mackstoresdotcom opened #78 "1043nd Openwrt as gateway . Low copy speeds win 10 pcs on both sides"
openwrt 1043nd zerotier as gateway. 1000mbps lan . 100mbps internet both sides. win 10 both pcs, copy from server at openwrt site to remote (logmein ..11mbps) (zerotier 300kbps) tcp fallback false and peers show direct connection

[2020-11-30 08:33] ogarcia commented on #78
If you have low speed connection you must revise your setup. Look if you have the firewall rule set in your router / machines:
[code]

And that you has not problem with direct port connections from outside.

[2020-11-30 08:45] Mackstoresdotcom commented on #78
already was done
Name: Allow-ZeroTier-Inbound
Protocol: UPD
Source zone: Any zone
Destination zone: Device
Destination port: 9993
acton - accept

and will see
Match:
Incoming IPv4 and IPv6, protocol UDP
From any zone
To this device, port 9993

Action:
Accept input

[2020-11-30 08:47] Mackstoresdotcom commented on #78
"And that you has not problem with direct port connections from outside." what does this mean?

[2020-11-30 08:51] ogarcia commented on #78
Your router **MUST** be directly reached from internet, if you are behind CGNAT (for example) it does not matter what port settings you do because cannot be reached and use a _planet relay_ for connect (more slow).

[2020-11-30 08:55] Mackstoresdotcom commented on #78
ah well i have internet coming on mikrotik router that is 11.11.11.254 and this openwrt is 11.11.11.7  in which  gateway is 11.11.11.254 and dns 8.8.8.8 i will try port forward from mikrotik to openwrt.  in open wrt the cli says all connection are direct

[2020-11-30 11:25] Mackstoresdotcom commented on #78
I do have a fiber internet but its a dual nat  could that be a problem but for logmein that is not a problem

[2020-12-01 05:28] openwrt-diy opened #79 "HTTP request sent, awaiting response... 404 Not Found"
@mwarning  When compiling the firmware, an error occurred while downloading the DL package!
OpenWrt-19.07.4 + zerotier-1.6.1
Target System (MediaTek Ralink MIPS)  --->
Subtarget (MT7621 based boards)  --->
Target Profile (Phicomm K2P)  --->

make[2]: Entering directory '/home/kokang/19.07.4/feeds/packages/net/zerotier'
mkdir -p /home/kokang/19.07.4/dl
SHELL= flock /home/kokang/19.07.4/tmp/.zerotie

[2020-12-01 06:48] mwarning commented on #79
It looks like the package changed. I have two source packages with different sizes but the same content.

[2020-12-01 06:49] mwarning commented on #79
https://github.com/openwrt/packages/pull/14090

[2020-12-01 10:10] #79 closed

[2020-12-02 11:40] mwarning commented on #76
There is no ZeroTier 1.6.2 in OpenWrt

[2020-12-02 11:40] #76 closed

[2020-12-08 07:17] #75 closed

[2020-12-08 07:17] #74 closed

[2020-12-09 01:09] rhuddlestone opened #80 "Where can I get the 1.6.2 package"
Hi

First, thanks for maintaining this software for OpenWRT.  I have just started using it and I like the features.

Where can I find an installable package for the 1.6.2 version you updated a few days ago.  I have been looking for days and can not find it anywhere.

Thanks Again

Rob

[2020-12-09 07:58] mwarning commented on #80
Try `opkg update` and then `opkg search zerotier`. Also, ZeroTier fails to build on some platforms. This is still under investigation.

[2020-12-10 00:55] rhuddlestone commented on #80
Thanks for the answer.  I found it.

[2020-12-10 00:55] #80 closed

[2020-12-23 05:53] i40sys opened #81 "Package not available in OpenWRT 19.07.1 anymore"
Do you have any idea about why is not available the package of Zerotier in the release 19.07.1 of OpenWRT?.

Take a look on that:
https://archive.openwrt.org/releases/19.07.2/packages/aarch64_cortex-a53/packages/
there is the package:
zerotier_1.4.6-1_aarch64_cortex-a53.ipk

But in the office repository of packages:
https://downloads.openwrt.org/releases/packages-19.07/aarch64_cortex-a53/packages/

[2020-12-23 22:13] mwarning commented on #81
I do not know. Building the package myself works fine..

[2020-12-23 22:13] #81 closed

[2021-01-03 11:31] guytogay opened #83 "new version Zerotier 1.6.2 can't work well in OpenWrt"
I was using version 1.4.6 in Openwrt, it can help let other subnet device reach every device connected to this OpenWrt. but after I upgrade it to 1.6.2, other devices can only reach OpenWrt, can't reach other devices under this OpenWrt.

[2021-01-03 17:05] mwarning commented on #83
Maybe some configuration has changed. Maybe The ZeroTier forum can help you: https://discuss.zerotier.com/

[2021-01-20 15:14] wulfy23 commented on #73
issue TTL timeout... may as well close

[2021-01-20 15:14] #73 closed

[2021-01-25 20:13] nikito7 commented on #25
option config_path '/etc/zerotier'

Error if folder dont exist

[2021-02-04 02:12] guytogay commented on #83
Sorry for my poor English. let me explain more.
I’m using ZeroTier on OpenWrt to join different LAN into one network using “Auto NAT Clients” function. it worked very well when I was using version 1.4.6. That each device under different subnet could ping / reach different subnet devices via this function. But after upgrading to 1.6.2. only OpenWrt can ping OpenWrt but can’t reach all the other sub

[2021-02-04 07:52] ogarcia commented on #83
I think that you are using a non standard OpenWRT version because in OpenWRT ZeroTier has not a LUCI (web interface) configuration. Did you open a ticket at your device manufacturer?

[2021-02-04 18:31] Suxsem opened #84 "cannot reach luci through zerotier"
There is something REALLY strange in reaching luci from zerotier.

try to do so: ssh into your openwrt device from the zerotier network.
Then send " /www/cgi-bin/luci". The connection drops after a few lines:

[code]

how is that possible?

[2021-02-05 16:13] openwrt-diy opened #85 "VERSION 1.6.3"
![Screenshot_20210206_001124_com huawei browser](https://user-images.githubusercontent.com/57249132/107058856-166deb80-6810-11eb-87ff-6f8125f12bc0.jpg)

[2021-02-05 17:13] mwarning commented on #85
https://github.com/openwrt/packages/pull/14663

[2021-02-05 17:13] #85 closed

[2021-02-05 17:14] mwarning commented on #85
Thanks! Closing this so I do not forget to do so. :)

[2021-02-05 19:59] fakuivan opened #86 "Package not available in OpenWRT 19.07.6 for arch armvirt/64"
I'm not sure what the issue is but I was not able to install zerotier using ``opkg``, this installation is using the default package lists, they were not modified. Does this package have some sort of compatibility problem with the aarch64 architecture? Would it be possible to compile from source for this platform? I'm running OpenWRT as a VM with a raspberry pi as a host, previously installing zer

[2021-02-05 20:28] mwarning commented on #86
What zerotier package did you try to install? Is it meant for OpenWrt 19.07.6?

[2021-02-05 20:38] ogarcia commented on #86
@fakuivan maybe you want [this](https://downloads.openwrt.org/snapshots/packages/aarch64_generic/packages/zerotier_1.6.2-2_aarch64_generic.ipk)

The full list of packages for aarch64 is [here](https://downloads.openwrt.org/snapshots/packages/aarch64_generic/packages/)

[2021-02-05 21:07] fakuivan commented on #86
Just ran ``opkg update && opkg install zerotier``

[2021-02-05 21:12] fakuivan commented on #86
Interesting... Does this mean the package lists are not set up correctly for this build of openwrt? Will these packages work for stable versions? From what I can see those packages are for the snapshot builds.

[2021-02-05 21:38] mwarning commented on #86
That is the preferred way and should work.

[2021-02-06 21:06] fakuivan commented on #86
So the [pkgdata page for this](https://openwrt.org/packages/pkgdata/zerotier) states that aarch64_generic is not a supported architecture, in contrast to [jq](https://openwrt.org/packages/pkgdata/jq), a package I was able to install without issues. I guess this worked on "bare metal" since the openwrt build for the raspberry pi runs a 32 bit kernel. Will there need to be patched added for aarch64?

[2021-02-06 21:25] mwarning commented on #86
Actually I do not know. But ZeroTier 1.6.3 is under way and fixes some build issues. Maybe that helps.
See https://github.com/openwrt/packages/pull/14677

[2021-02-18 04:51] openwrt-diy commented on #85
@mwarning
ZeroTierOne_VERSION_1.6.4
https://github.com/zerotier/ZeroTierOne/blob/master/RELEASE-NOTES.md

[2021-03-04 18:45] goshil commented on #84
Hi. Not sure, if it could help, but try it:

_If you experienced issues with zerotier ssh and webui. Such as putty hangs with outputting 10+ lines.
Try to change MTU from default 2800 to this or smaller value `ifconfig ztzlgf7vul mtu 1388`_

Source: https://www.snbforums.com/threads/a-guide-about-installing-zerotier-on-asus-ac68u-router.42648

[2021-04-26 16:27] openwrt-diy commented on #85
@mwarning
2021-04-13 -- Version 1.6.5
Fix a bug in potential network path filtering that could in some circumstances lead to "software laser" effects.
Fix a printf overflow in zerotier-cli (not exploitable or a security risk)
Windows now looks up the name of ZeroTier devices instead of relying on them having "ZeroTier" in them.

[2021-05-24 20:02] Suxsem commented on #84
it seems to be solved on openwrt 21.02rc1 and the latest version of zerotier (1.6.5-1).
I will keep monitoring

[2021-06-10 08:09] Dango233 opened #88 "Stucked in REALY mode when connect to router, but can DIRECT to the PC behind it"
I have to admit this is a weird situation:
I can DIRECT connect to my PC running Zerotier behind my OpenWRT router using the PC Zerotier address, but I can only RELAY to the OpenWRT router running Zerotier session.

I can confirm that the UDP port 9993 has been opened on my router and the routing has been appropriately configured.

Any idea on what's happening?

[2021-06-10 21:21] mwarning commented on #86
OpenWrt 19.07.7 has the package: https://downloads.openwrt.org/releases/19.07.7/packages/aarch64_generic/packages/

[2021-06-10 21:21] #86 closed

[2021-06-10 21:23] mwarning commented on #83
Closing this, as there is no resolve possible here. This is for the ZeroTier package only. Please open a ticket with OpenWrt or LuCI.

[2021-06-10 21:23] #83 closed

[2021-06-10 21:24] mwarning commented on #78
Zerotier got a few speed improvements for embedded system in the meantime. Please reopen if it is still slow.

[2021-06-10 21:24] #78 closed

[2021-06-11 06:31] ogarcia commented on #88
I don't understand the situation. Can you explain better? Connections from and to, IPs, etc.

[2021-06-21 22:08] sboisson opened #90 "Doesn't persist allowGlobal, allowDefault network settings"
Hello,

The files  `/var/lib/zerotier-one/networks.d/{network id}.local.conf` containing the flags is not persisted across reboot.
`allowGlobal`, `allowDefault` and `allowDNS` should be persisted

[2021-06-22 07:09] ogarcia commented on #90
@sboisson if you see config it have this entry
[code]

You can uncomment line and set the directory that you want (must be created before) to persist your config.

[2021-06-22 10:07] sboisson commented on #90
Ok so it bypass the other config keys in `/etc/config/zerotier` ?
I think it would be interesting to have the `allowGlobal`, `allowDefault` and `allowDNS` also configurable as keys per network in `/etc/config/zerotier`…  Wouldn't make it easier to make a LUCi module for it then ?

[2021-06-22 10:12] ogarcia commented on #90
No

[2021-06-22 21:22] mwarning commented on #90
If that is no big issue, then it would be useful to have those options in /etc/config/zerotier.
As for the LuCI module, I don't know who is in charge of that.

[2021-07-13 07:04] SadPencil opened #91 "feature request: support MOON peers in the configuration file"
In a regular Linux distro, path `/var/lib/zerotier-one/moons.d` folder contains the information of MOON peers, each `*.moon` file per peer.
When zerotier service starts, these files are loaded.

Currently, to let the zerotier node join the MOON in openwrt, the only way is to specify `config_path` in your configuration file.
[code]
and place the moon files inside the folder.
However, there are some

[2021-07-13 07:16] SadPencil commented on #91
This request can be also achieved as follows.

The current behavior `config_path` is make a symlink from `/var/lib/zerotier-one` to `/etc/zerotier`. However, it can be improved by something like,
[code]
and instead of making a symlink, copy all the files from `/etc/zerotier` to `/var/lib/zerotier-one`, and initialize the rest files.

[2021-07-13 07:33] ogarcia commented on #91
@SadPencil the only _temporally_ files that ZT creates in `/etc/zerotier` are `zerotier-one.pid` and `zerotier-one.port`. Both with size of 4K and only rewrite on a router reboot. I think that flash can manage this without problem.

[2021-07-13 08:03] SadPencil commented on #91
The temporally files are small, indeed. But I create a PR for this anyhow. Tested on my router.
https://github.com/mwarning/zerotier-openwrt/pull/92

[2021-07-15 02:38] SadPencil commented on #91
@ogarcia For those SPI flash without wear leveling feature, even though the files are small, minimizing the write is meaningful. Please review PR #92 .

[2021-07-21 08:25] ogarcia commented on #91
@mwarning what do you think?

[2021-07-21 09:10] mwarning commented on #91
I will take a look later this week. @SadPencil thank you for your contribution!

[2021-08-20 21:39] openwrtdiy commented on #91
@mwarning support MOON?

[2021-08-28 07:47] mwarning commented on #91
This feature sounds nice, but since I have never used mooons, it takes some time to grook and to have time to get into it. I hope to have time soon. Thank you for all the contributions so far! :)

[2021-11-09 01:28] ssrv2ray opened #93 "Please upgrade ZEROTIER to the latest version ！！！"
Please upgrade ZEROTIER to the latest version（ZeroTier version 1.8.1 ）

[2021-11-10 19:27] mwarning commented on #93
hi there. I have updated the repository to be in sync with openwrt/packages. Anyway, this repository is more of my own development ground for the zerotier package and not an official one.

[2021-11-10 19:27] #93 closed

[2022-01-18 20:30] wosk commented on #63
Very often I got the the same issue.

I have
openwrt 21.02
zerotier 1.6.6

I have firewall rule for accept packets on 9993 port but there are no incoming traffic for this rule acording to firewall statistic page.
Also I have kind of "unstable" connection, I need to press the button on captive portal page each 2 hours to resume Internet routing - I assume it may be a rootcause of the issue.

Rerun

[2022-01-28 15:06] zhoulizhengithub opened #96 "openwrt-3.10.14 ,barrier_breaker/14.07/"
^
In file included from controller/../osdep/OSUtils.hpp:46:0,
                 from controller/EmbeddedNetworkController.hpp:34,
                 from controller/EmbeddedNetworkController.cpp:38:
controller/../osdep/../ext/json/json.hpp:26358:13: note: 'template<template<class, class, class ...> class ObjectType, template<class, class ...> class ArrayType, class StringType, class BooleanType, clas

[2022-01-28 20:41] mwarning commented on #96
hi, you try to compile ZeroTier for a really old OpenWrt release.
It is possible, but quite a lot of work. I have to leave that to you.

[2022-01-28 20:41] #96 closed

[2022-01-29 04:51] zhoulizhengithub opened #97 "Can you support the compilation of this source code? Openwrt-3.10.14"
}
     ^
<builtin>: recipe for target 'controller/EmbeddedNetworkController.o' failed
make[3]: *** [controller/EmbeddedNetworkController.o] Error 1
make[3]: Leaving directory '/home/zhoulizhen/route/openwrt-3.10.14/build_dir/target-mipsel_24kec+dsp_uClibc-0.9.33.2/ZeroTierOne-1.8.4'
Makefile:79: recipe for target '/home/zhoulizhen/route/openwrt-3.10.14/build_dir/target-mipsel_24kec+dsp_uClibc-0.9.

[2022-01-29 09:55] mwarning commented on #97
Sorry mate, I do not support such an old OpenWrt version.

[2022-01-29 09:55] #97 closed

[2022-01-29 11:09] zhoulizhengithub commented on #97
Thank you. I have finished the processing and can use it normally

[2022-03-13 04:36] mbunal opened #98 "how to compile latest ZT??"
i tried to compile latest ZT accoring to your diectives on github page. but every time compiled with OW version 1.6.6. i cant choose your latest 1.8.4. how can i choose latest version to compile and embed in firmware???

[2022-03-13 07:31] mwarning commented on #98
I will update this project later this day.

[2022-03-13 07:36] mbunal commented on #98
Waiting Impatiently.…

[2022-03-15 22:14] mwarning commented on #98
I have update this repository so far. Waiting for OpenWrt.

[2022-03-15 22:16] mwarning commented on #98
If you have ZT 1.6.6, then it means your are using the latest OpenWrt release. The newer versions are in the development version of OpenWrt so far and they need be backported. That is rather easy, but I wait for the Merge Request to be accepted.

[2022-03-15 22:16] #98 closed

[2022-03-19 14:01] mbunal commented on #98
how can i backport?

[2022-03-19 14:11] mwarning commented on #98
You can replace `openwrt/feeds/packages/net/zerotier` with the folder in this repository. Or maybe wait for  this official backport: https://github.com/openwrt/packages/pull/18099

But the next OpenWrt release is not far away, so this may not be of much value.

[2022-03-22 23:51] kody-wen opened #99 "zerotier-cli shows ‘Segmentation fault’ on version 1.8.6 with arm_cortex-a7-neon and arm_cortex-a15_neon-vfpv4 and ARMv6"
When zerotier config without **debug**(as workaround). Generated ipk will not work.
zt device will not appear in "ip a".
And "zerotier-cli info" will get ‘Segmentation fault’.

It happens on ipq40xx,ipq806x,ARMADA-38x,ARM1176JZF-S platforms.

[2022-03-23 11:18] mwarning commented on #99
hi, what OpenWrt version is that on? 22.02? Or is that from master?

[2022-03-23 13:27] kody-wen commented on #99
It's master with latest code.

[2022-03-24 01:55] KA2107 commented on #99
Same issue on ipq806x (Netgear R7800) in OpenWrt 21.02.2

[2022-03-24 02:21] openwrtdiy commented on #99
Version 1.8.4 works fine with OpenWrt-19.07! When upgrading to version 1.8.6, the value of the option secret parameter cannot be obtained normally.

[2022-03-25 12:33] Cerbis commented on #99
hi, i have the same issues on my Router running OpenWrt 21.02.2 r16495-bf0c965af0 on a Linksys WRT1900ACS. It uses 1.8.6-1.

[2022-03-25 13:19] shomodj commented on #99
same here OpenWrt 21.02.1 r16325-88151b8303 Linksys WRT3200ACM

[2022-03-25 17:04] mwarning commented on #99
I do not have that platform available for testing. Can someone try to build Zerotiuer without `-fPIE`.

[2022-03-25 17:16] Cerbis commented on #99
could you explain me how to do that? i've build openwrt + zerotier for the first time in my life today :D.

the cmds i've run to build zerotier today were
[code]
so im not sure where i can find `-fPIE`

[2022-03-25 18:13] mwarning commented on #99
@Cerbis sorry, it's in this line https://github.com/openwrt/packages/blob/master/net/zerotier/Makefile#L59
In your openwrt build you can find iit in `./feeds/packages/net/zerotier/Makefile`

[2022-03-26 17:18] artemklevtsov commented on #99
Same here on the arm_cortex-a15_neon-vfpv4 with zerotier 1.8.6-1 (with OpenWRT 21.02.2).

[2022-03-27 05:36] openwrtdiy commented on #99
I deleted the "-fPIE" section and recompiled the firmware, but still did not get the "option secret" parameter.

Model：ASUS RT-ACRH17
Architecture：ARMv7 Processor rev 5 (v7l)
Firmware Version：OpenWrt-19.07
Kernel Version：4.14.273

[2022-03-30 09:19] k9online commented on #99
Same issue here. R7800 so also ipq806x device. 21.02.1 | I would just downgrade but for the life of me I can't figure out where older versions are hosted. OpenWrt's repository shows the same version no matter where I look/go.

[2022-03-30 10:56] mwarning commented on #99
We probably need to revert this update. I do not have any ipq806x based hardware to test this issue.

[2022-03-30 11:09] openwrtdiy commented on #99
Can do the test on my ipq40x router! I have time to flash the machine every day.

[2022-03-31 03:42] Vadoola commented on #99
I can confirm this is also happening with OpenWRT 21.02.2 on the original Raspberry Pi, which is an ARMv6 I think.

[2022-03-31 06:26] ogarcia commented on #99
Do you try compiling 1.8.7? If it doesn't work, you may have to bisect the [upstream code](https://github.com/zerotier/ZeroTierOne).

[2022-03-31 07:50] mwarning commented on #99
@ogarcia I suspect this is a problem with the patches that have been upstreamed/removed. But if that is not the case, then we have to bisect.

[2022-03-31 08:55] openwrtdiy commented on #99
I used 1.8.4 for most of the original code, only updated zerotier/Makefile to the latest version 1.8.7, and failed to compile OpenWrt-19.07 ARMv7 firmware!

make[3]: Entering directory '/home/kokang/openwrtdiy/feeds/packages/net/zerotier'
mkdir -p /home/kokang/openwrtdiy/dl
SHELL= flock /home/kokang/openwrtdiy/tmp/.zerotier-1.8.7.tar.gz.flock -c '  	/home/kokang/openwrtdiy/scripts/download.pl "/ho

[2022-03-31 19:24] Vadoola commented on #99
I've never tried doing any development for OpenWRT, and don't really have anything set up for it, I'm just a user who was doing some testing on an old Raspberry Pi and ran into the issue. If I get a chance I will see what I can do, but I don't think I'll really have the time to compile 1.8.7.

[2022-04-09 02:30] KA2107 commented on #99
Downgrading to https://downloads.openwrt.org/releases/21.02.2/packages/arm_cortex-a15_neon-vfpv4/packages/zerotier_1.8.4-2_arm_cortex-a15_neon-vfpv4.ipk works for me in my Netgear R7800 (ipq806x)

[2022-04-11 07:00] chazikai24 commented on #99
1.re-patching line27-34 below,disable fPIE
https://github.com/mwarning/zerotier-openwrt/blob/774d674d0b827089432039a37f13e4eb50c9afec/zerotier/patches/0001-fix-makefile.patch#L27
2.disable fPIE below
https://github.com/openwrt/packages/blob/master/net/zerotier/Makefile#L59
I compiled 1.8.7 and it works well on wrt1900acv2.

[2022-04-12 06:22] openwrtdiy commented on #99
@chazikai24 https://github.com/zerotier/ZeroTierOne/releases/tag/1.8.8

ZeroTier Release Notes
2022-04-11 -- Version 1.8.8
Fix a local privilege escalation bug in the Windows installer.
Dependency fix for some Ubuntu versions.
No changes for other platforms. Windows upgrade recommended, everyone else optional.

[2022-04-12 07:14] chazikai24 commented on #99
pull a request here and waiting for merge
https://github.com/openwrt/packages/pull/18290

[2022-04-13 20:05] mwarning commented on #99
Here is the fix from @chazikai24 with a green pipeline: https://github.com/openwrt/packages/pull/18300
Can anymore please test and confirm that ZeroTier does not crash on start anymore?

[2022-04-21 17:20] mwarning commented on #99
I will close this issue here. Here you can track the merge requests:
* https://github.com/openwrt/packages/pull/18300
* https://github.com/openwrt/packages/pull/18339

[2022-04-21 17:20] #99 closed

[2022-04-29 14:05] fjqingyou opened #101 "not found ztXXXXXXXX interface"
hello every one

Because my English is very poor, the following content comes from Baidu translation

I tried to follow the steps in the Wiki to install and configure zerotier, but after restarting the router, I found that there was no ztxxxxx interface available in the router.

What should I do?

# env
[code]

# config
[code]

[code]

# command ip a | grep zt not found ztXXXXXXXX
[code]

# have l

[2022-04-30 04:07] syk6666 opened #102 "更新"
请更新ipk  谢谢

[2022-04-30 15:34] #102 closed

[2022-04-30 15:37] mwarning commented on #101
No problem, the translation is good. :-)

Execute the following commands and you should be fine:
[code]

[2022-04-30 15:42] fjqingyou commented on #101
Thank you for your reply.
I tried this and failed to achieve the expected success!
[code]

[2022-04-30 15:43] mwarning commented on #101
Maybe the interface has a different name?

[2022-04-30 15:48] fjqingyou commented on #101
[code]

[2022-04-30 15:58] fjqingyou commented on #101
I got new information from the system log

[code]

[2022-04-30 16:33] fjqingyou commented on #101
Carefully observed the log. Tun seems to be wrong?

I'm not familiar with this. It looks like an error occurred when openwrt started tun

I may have to find a way to solve Tun's problem first
[code]

[2022-04-30 16:45] mwarning commented on #101
yes, the tun driver crashed. That seems to be the problem.

[2022-04-30 16:53] fjqingyou commented on #101
OK!

Then I will close the issue first. If the Tun problem still exists after processing, I will reopen it!

Thank you for your patience!

[2022-04-30 16:53] #101 closed

[2022-05-01 09:57] fjqingyou commented on #101
It has been confirmed that the problem is caused by tun.

The reason for the problem is that the firmware compiled by itself has modified the MD5 of the kernel, which automatically ignores the compatibility of the kernel version. Opkg install is actually similar to opkg -- force dependencies, which Tun, and then leads to kernel incompatibility.

My solution is to compile a kmod Tun in the same env

[2022-06-18 20:42] ehrenmann1977 opened #103 "Zeronsd - compile and add to feed in openwrt"
There is a need for Zeronsd for openwrt, since without it, it would be difficult to setup a DNS server for Zerotier networks. Now the ZeroNSD has been in alpha, could you please compile it and add it to the feed.

https://www.zerotier.com/2021/05/06/zeronsd-unicast-dns-resolution-for-zerotier-now-in-alpha/

thank you

[2022-06-19 08:09] ogarcia commented on #103
IMHO, [zeronsd](https://github.com/zerotier/zeronsd) should be a different package

[2022-06-21 10:31] mwarning commented on #103
Zeronsd is written in Rust. OpenWrt does not seem to support Rust based projects yet.

[2022-06-21 23:07] ehrenmann1977 commented on #103
there are some other alternatives, written in go, if we can cross-compile it for openwrt, it would be supported. here is another project written in go https://github.com/mje-nz/zerotier-dns
I am still struggling with buildroot to crosscompile a project

[2022-07-15 02:35] BFTHome opened #104 "版本太旧了，请更新到最新版本的zerotier"
版本太旧了，请更新到最新版本的zerotier

[2022-07-16 12:35] mwarning commented on #104
This is just my personal repository for experiments. :-)

[2022-07-16 12:35] #104 closed

[2022-07-23 08:38] culminis1 opened #105 "Very high memory and CPU usage"
I was using Zerotier on 4 [GL.inet GL-MIFI](https://www.gl-inet.com/products/gl-mifi/) openwrt routers. I have observed high amounts of memory and CPU usage, over 50%. Sometimes the routers crashes.
Do you noticed that? What could be the origin?

- Zerotier version 1.6.4
- OpenWrt version  19.07.8
- Zerotier router interface bridged (network segment 192.168.1.0/24) with br-lan (with o without IGMP

[2022-07-23 10:31] mwarning commented on #105
Please try OpenWrt master (uses ZeroTier 1.10.1) and see if the problem is still present?
You can download an image here https://firmware-selector.openwrt.org
Either use the package customization to add ZeroTier or use `opkg update` and `opkg install zerotier`

[2022-07-24 15:35] culminis1 commented on #105
First of all, thank you for your quick answer.
Despite I'm developer in other environments, I don't have many skills in unix/linux/openWrt systems. I haven't the toolchain for building my own openWrt image. I am using the GLinet manufacturer stable image, and installing the zerotier package on it. Is it a right procedure for testing your proposition?
I will try to install the 1.10.1 version on the

[2022-07-29 02:00] vinch9292 commented on #7
do the "allow ethernet bridging" in my.zerotier.com need to be enabled/checked?

[2022-07-29 06:37] ogarcia commented on #7
It depends, if you are going to use that node as a hop node between different network segments then you have to enable it, otherwise it is not necessary.

See [here](https://docs.zerotier.com/zerotier/manual#224ethernetbridginganame2_2_4a) for explanation and [here](https://zerotier.atlassian.net/wiki/spaces/SD/pages/7438339/Layer+2+Bridging+with+LEDE+OpenWRT) for an example.

[2022-09-14 22:22] olfway opened #106 "Backport 1.10.1 to OpenWRT 22.03"
Is it possible to backport latest zerotier? OpenWRT 22.03 only has 1.8.6 now

Thanks!

[2022-09-18 19:06] mwarning commented on #106
Yes, that should be possible. I will take a look next week.

[2022-09-19 13:50] mwarning commented on #106
Let's see https://github.com/openwrt/packages/pull/19409

[2022-09-26 16:36] olfway commented on #106
thanks!

[2022-11-02 11:01] duckdegen opened #107 "Unable to view apple airport express and apple timecapsule device over zerotier"
Hello,

My main purpose for using zerotier is to use it as a backup tool to perform backups while on the road.

This means that I need my macbook to auto-discover other apple devices which are on my lan.
This typically occurs over bonjour/mdns .

I have followed the instructions you have provided, and indeed I am able to connect to my LAN over the vpn, but apple autodiscovery fails.

Could you be

[2022-11-04 07:52] ogarcia commented on #107
It will not work because Zeroconf/Bonjour never leaves the local network.

If you have followed the steps in the wiki to configure the system, you will have a Zerotier network 172.28.28.0/24 and a local network or LAN (the one provided by your home router) 192.168.1.0/24. In the network 192.168.1.0/24 is where you have the Bonjour (I understand that it is a Time Capsule or similar for what you spe

[2022-11-25 11:46] dxmann commented on #61
Same problem... any update?

[2022-11-25 12:23] ogarcia commented on #61
@dxmann we need more info

Can you execute `ip route` in your client?

In ZeroTier Central do you check **Allow Ethernet Bridging** in your router entry in members list?

[2022-11-25 13:37] dxmann commented on #61
ZeroTier Center: openwrt device has fixed ip (172.25.0.1) and "allow ethernet bridging" enabled
Openwrt dev:
zerotier ip: 172.25.0.1
lan ip: 192.6.21.194
[code]

[2022-11-25 13:44] ogarcia commented on #61
@dxmann you need a new interface for zerotier and a new zone for forwarding between zerotier and lan.

/etc/config/network:
[code]

/etc/config/firewall:
[code]

[2022-11-25 14:02] dxmann commented on #61
ok, now I have
[code]

[2022-11-25 14:31] ogarcia commented on #61
So now you have everything configured correctly. You should be able to reach the 192.6.21.0/24 network from the zerotier network.

If not you should look at the client (the device you are trying to reach your network from) to see what the `ip route` command says and even try to run a `tracepath`.

[2022-11-25 14:50] dxmann commented on #61
I'm trying to ping and trace from an android device with Fing as app

[2022-11-26 08:19] ogarcia commented on #61
From what you say it seems that the problem is that your android client is not receiving correctly the route that tells him that to reach the network 192.6.21.0/24 must use the IP 172.25.0.1.

In _ZeroTier Central_ I understand that you have entered the route in _Managed Routes_?
Destination: 192.6.21.0/24
Via: 172.25.0.1

[2022-11-26 16:02] dxmann commented on #61
yes

Yes. I have added 172.25.0.1 as bridge too.

[2022-11-26 16:36] dxmann commented on #61
The strange thing is that the traceroute knows that the end device is under the openwrt dev, so from the phone the route reaches the openwrt router but after that nothing else... so I think that there is something not configured or configured badly.
I tried adding routing rules and static routes too but without success.

[2022-11-28 08:32] ogarcia commented on #61
That is correct. You need each one to have its own zone and forward between them because you have different addressing.

The only thing I can think of is that your main router (the one that gives you internet) is "stopping" the packets that reach you through the VPN. Try to physically connect your OpenWrt router to some device and try to ping from/to it.

[2022-11-28 09:59] dxmann commented on #61
This morning I have done this test:
phone hotspot > linux wifi (?.?.?.?)> shared ethernet connection (10.42.0.1) > openwrt (eth 10.42.0.21, zt 172.25.0.1)
from another pc on another net, connected with zerotier (172.25.0.201).
On ZeroTier Central I have added a route to 10.42.0.0/24 through 172.25.0.1; 172.25.0.1 is checked as bridge.
With this configuration I can

- [X] ping 172.25.0.1 from 172.2

[2022-11-28 10:45] ogarcia commented on #61
Maybe the problem is in 10.42.0.1 which does not allow masked connections. That's why I told you to connect something (a PC or similar) directly to the OpenWrt router to test.

The truth is that I can't think of anything else, because all the configuration seems to be correct.